<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>
      <div class="row">
        <div class="col-12 col-md-6">
          <app-int-multi-checkbox formControlName="moduleCodes" [options]="options" [sorted]=true></app-int-multi-checkbox>
        </div>
      </div>
      <div class="button-box col-12">
        <button (click)="update()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
          <fa-icon [icon]="faBolt"></fa-icon> {{ "Role.Detail.Tabs.Modules.Actions.Submit.Button" | translate
          }}
        </button>
      </div>
    </form>
  </div>
</div>
