/*** Fen Pol ***/
#dossier-list-dashboard.box {
  color: #000000;
}

#dossier-list-dashboard .box .box-title {
  font-weight: 900;
  text-transform: uppercase;
}

.label-status-Closed {
  background-color: #33f99e;
  color: #000000;
}


.label-status-FenPolStartProduction,
.label-status-FenLimStartProduction {
  background-color: #49dff9;
  color: #000000;
}

.label-status-FenPolQualityControl,
.label-status-FenLimEndProduction {
  background-color: #f9c033;
  color: #000000;
}

.label-status-FenPolConfirmDelivery,
.label-status-FenLimConfirmDelivery {
  background-color: #c3f949;
  color: #000000;
}

.label.label-table {
  border-radius: 0px;
  width: 100%;
  text-align: center;
  margin: 0 20px;
  min-height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

@media (max-width: 1280px) {

  .label.label-table {
    margin: 10px auto;
    width: auto;
  }

}
