/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-timeline-navigation a:hover,
.cd-timeline-navigation a:focus {
  border-color: #707070;
}

.cd-horizontal-timeline a,
.cd-horizontal-timeline a:hover,
.cd-horizontal-timeline a:focus {
  color: #707070;
}

.cd-horizontal-timeline .filling-line {
  background-color: #f9b949;
}

.cd-horizontal-timeline .events a::after {
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #f9b949;
  border-color: #f9b949;
}


.cd-horizontal-timeline .events a.selected {
  font-weight: 750;
}

.cd-horizontal-timeline .events a.selected::after {
  background-color: #f9b949;
  border-color: #f9b949;
}

.cd-horizontal-timeline .events a.older-event::after {
  border: 1px solid #707070;
  background-color: #f9c033;
}

.cd-timeline-navigation a {
  border: 2px solid #f9b949;
  background-color: #f9b949;
}

.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.timeline:before {
  background-color: #eeeeee;
}

.cd-timeline-navigation a::after {
  /* make it blackish */
  filter: brightness(54%);
}
