.list-icon:before {
  display: inline-block;
  font: none;
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-list-item-content .menu-text {
  text-transform: uppercase;
}

.sidebar-nav .sidenav-listitem.active,
.sidebar-nav .sidenav-listitem.active i,
.sidebar-nav .sidenav-listitem.active span {
  color: #24201f;
  background-color: #f9b949;
}

.custom-material-theme .mat-list .mat-list-item:hover mat-icon,
.custom-material-theme .mat-nav-list .mat-list-item:hover mat-icon,
.custom-material-theme .mat-selection-list .mat-list-item:hover mat-icon {
  color: #f9b949;
}

.custom-material-theme .mat-list .mat-list-item.active:hover mat-icon,
.custom-material-theme .mat-nav-list .mat-list-item.active:hover mat-icon,
.custom-material-theme .mat-selection-list .mat-list-item.active:hover mat-icon,
.custom-material-theme .mat-list .mat-list-item.active mat-icon,
.custom-material-theme .mat-nav-list .mat-list-item.active mat-icon,
.custom-material-theme .mat-selection-list .mat-list-item.active mat-icon {
  color: black;
}


.list-icon.dossier-list:before {
  content: "";
}

.list-icon.dossier-list {
  background-image: url(icons/timepiece.svg);
  background-size: contain;
  width: 20px !important;
  background-repeat: no-repeat;
}

.mdi-playlist-check:before {
  content: "";
}

.mdi-playlist-check {
  background-image: url(../images/Ellipse.svg);
  background-size: contain;
  width: 20px !important;
  min-width: 20px !important;
  background-repeat: no-repeat;
}

.sidebar-nav .sidenav-listitem.active .mdi-playlist-check {
  background-image: url(../images/Ellipse_plus.svg);
}
