@import './fonts/fonts.css';

.topbar {
  background-color: #f9b949;
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:focus {}


h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
.btn {
  font-family: 'Proxima Nova', sans-serif;
}

.btn {}

.btn-rounded {
  border-radius: 0px;
  height: calc(2.25rem + 2px);
  padding: 9px 12px;
}

.btn-rounded.btn-sm {
  padding: 0.25rem 0.4rem;
  height: initial;
}

.btn-info,
.btn-info:active,
.btn-info:focus {
  background-color: #24201f;
  border: 1px solid #24201f;
  box-shadow: none;
}

.btn-info:hover,
.btn-info.disabled:hover {
  background: #24201f;
  border: 1px solid #24201f;
  box-shadow: 0 14px 26px -12px rgba(36, 32, 31, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(36, 32, 31, 0.2);
}

.btn-outline-info,
.btn-outline-info:active,
.btn-outline-info:focus {
  background-color: transparent;
  border: 1px solid #24201f;
  -webkit-box-shadow: 0 2px 2px 0 rgba(36, 32, 31, 0.42), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(36, 32, 31, 0.2);
  box-shadow: 0 2px 2px 0 rgba(36, 32, 31, 0.42), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(36, 32, 31, 0.2);
  color: #24201f
}

.btn-outline-info:hover,
.btn-outline-info.disabled:hover {
  color: #ffffff;
  background: #24201f;
  border: 1px solid #24201f;
  -webkit-box-shadow: 0 14px 26px -12px rgba(36, 32, 31, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(36, 32, 31, 0.2);
  box-shadow: 0 14px 26px -12px rgba(36, 32, 31, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(36, 32, 31, 0.2);
}

.btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn-secondary,
.btn-secondary:active,
.btn-secondary:focus {
  color: #24201f;
  background-color: transparent;
  border-color: #f9b949;
  -webkit-box-shadow: 0 2px 2px 0 rgba(255, 178, 43, 0.42), 0 3px 1px -2px rgba(255, 178, 43, 0.12), 0 1px 5px 0 rgba(255, 178, 43, 0.2);
  box-shadow: 0 2px 2px 0 rgba(255, 178, 43, 0.42), 0 3px 1px -2px rgba(255, 178, 43, 0.12), 0 1px 5px 0 rgba(255, 178, 43, 0.2);
}

.btn-outline-secondary:hover,
.btn-outline-secondary.disabled:hover,
.btn-secondary:hover,
.btn-secondary.disabled:hover {
  background: #f9b949;
  color: white;
  border: 1px solid #f9b949;
  -webkit-box-shadow: 0 2px 2px 0 rgba(255, 178, 43, 0.42), 0 3px 1px -2px rgba(255, 178, 43, 0.12), 0 1px 5px 0 rgba(255, 178, 43, 0.2);
  box-shadow: 0 2px 2px 0 rgba(255, 178, 43, 0.42), 0 3px 1px -2px rgba(255, 178, 43, 0.12), 0 1px 5px 0 rgba(255, 178, 43, 0.2);
}

.btn-outline-secondary>fa-icon,
.btn-secondary>fa-icon {
  color: #f9b949;
}

.btn-outline-secondary:hover>fa-icon,
.btn-secondary:hover>fa-icon {
  color: white;
}

.form-material.text-box input {
  background-color: #f0f0ee;
}

.form-material.text-box input {
  padding: .375rem .75rem;
}

.form-material.text-box input::placeholder {
  color: #adadad;
}


.form-material.text-area textarea {
  background-color: #f0f0ee;
  padding: .375rem .75rem;
  min-height: 150px;
}


.workflow-FenPol {
  background-image: url(../images/workflow-small.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
}

.workflow-FenLim {
  background-image: url(../images/workflow-large.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  background: #f9b949;
  color: #24201f;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #24201f
}

.mat-tab-group mat-tab-header .mat-tab-label.mat-tab-label-active .mat-tab-label-content span {
  font-weight: bold;
  color: #24201f
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-calendar-body-selected {
  background: #f9b949;
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  background: #24201f;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
  background-image: linear-gradient(#f9b949, #f9b949), linear-gradient(#e9edf2, #e9edf2);
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  float: none;
}

.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #24201f
}

.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background: #24201f
}

.mat-badge-content {
  color: #fff;
  background: #f9b949
}

.mat-badge-accent .mat-badge-content {
  background: #24201f;
  color: #fff
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: #f9b949
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: #24201f
}

.mat-button.mat-primary .mat-button-focus-overlay,
.mat-icon-button.mat-primary .mat-button-focus-overlay,
.mat-stroked-button.mat-primary .mat-button-focus-overlay {
  background-color: #f9b949
}

.mat-button.mat-accent .mat-button-focus-overlay,
.mat-icon-button.mat-accent .mat-button-focus-overlay,
.mat-stroked-button.mat-accent .mat-button-focus-overlay {
  background-color: #24201f
}



.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #f9b949
}

.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: #24201f
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #f9b949
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #24201f
}


.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {
  background-color: #f9b949
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #24201f
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #f9b949;
  color: #fff
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .mat-chip-remove {
  color: #fff;
  opacity: .4
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .mat-ripple-element {
  background: rgba(255, 255, 255, .1)
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-warn {
  background-color: #f44336;
  color: #fff
}


.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
  background-color: #24201f;
  color: #fff
}

.mat-calendar-body-selected {
  background-color: #f9b949;
  color: #fff
}

.mat-datepicker-content.mat-accent .mat-calendar-body-selected {
  background-color: #24201f;
  color: #fff
}

.mat-datepicker-toggle-active {
  color: #f9b949
}

.mat-datepicker-toggle-active.mat-accent {
  color: #24201f
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #f9b949
}

.mat-form-field.mat-focused .mat-form-field-label.mat-accent {
  color: #24201f
}

.mat-focused .mat-form-field-required-marker {
  color: #24201f
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #f9b949
}

.mat-form-field.mat-focused .mat-form-field-ripple.mat-accent {
  background-color: #24201f
}

.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after {
  color: #f9b949
}

.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid).mat-accent .mat-form-field-infix::after {
  color: #24201f
}


.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #f9b949
}

.mat-form-field-appearance-outline.mat-focused.mat-accent .mat-form-field-outline-thick {
  color: #24201f
}

.mat-icon.mat-primary {
  color: #f9b949
}

.mat-icon.mat-accent {
  color: #24201f
}

.mat-input-element {
  caret-color: #f9b949
}

.mat-accent .mat-input-element {
  caret-color: #24201f
}

.mat-progress-bar-fill::after {
  background-color: #f9b949
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #f9b949
}

.mat-progress-spinner.mat-accent circle,
.mat-spinner.mat-accent circle {
  stroke: #24201f
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: #f9b949
}

.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
  background-color: #f9b949
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #24201f
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #24201f
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #f9b949
}

.mat-form-field.mat-focused.mat-accent .mat-select-arrow {
  color: #24201f
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #24201f
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #f9b949
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: #24201f
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: #f9b949
}


.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element {
  background-color: #f9b949
}

.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label,
.mat-primary .mat-slider-track-fill {
  background-color: #f9b949
}

.mat-primary .mat-slider-thumb-label-text {
  color: #fff
}

.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
  background-color: #24201f
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #f9b949;
  color: #fff
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #f9b949
}

.mat-tab-group.mat-accent .mat-ink-bar,
.mat-tab-nav-bar.mat-accent .mat-ink-bar {
  background-color: #24201f
}


.mat-tab-group.mat-background-primary .mat-tab-header,
.mat-tab-group.mat-background-primary .mat-tab-links,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary .mat-tab-links {
  background-color: #f9b949
}

.mat-tab-group.mat-background-accent .mat-tab-header,
.mat-tab-group.mat-background-accent .mat-tab-links,
.mat-tab-nav-bar.mat-background-accent .mat-tab-header,
.mat-tab-nav-bar.mat-background-accent .mat-tab-links {
  background-color: #24201f
}

.mat-toolbar.mat-primary {
  background: #f9b949;
  color: #fff
}

.mat-simple-snackbar-action {
  color: #24201f
}
