@import url("./page.css");
@import url("./menu.css");
@import url("./horizontal-timeline.css");
@import url("./dossiers.css");
@import url("./upload-component.css");
@import url("./verification.css");

.logo {
  display: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 85px;
  height: 40px !important;
  border: none;
  cursor: pointer;
  background: url(./../images/logo-xs.png) no-repeat center center;
  background-size: auto 60%;
  margin-left: -8px;
}

.mini-sidebar .top-navbar .navbar-header {
  width: 110px;
}

.mini-sidebar .logo {
  display: inline-block;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 50px;
  margin-left: 25px;
  border: none;
  cursor: pointer;
  background: url(./../images/logo.png) no-repeat center center;
  background-size: 85% auto;
}

.strong {
  font-weight: bold;
}
