.ui-fileupload-content.style1 .file-upload-button {
  background-color: #24201f;
}

.ui-fileupload-content.style1 .form-material.text-box {
  background-color: #f0f0ee;
}

.ui-fileupload-content.style1 .form-material.text-box input {
  padding: 0;
}

.my-drop-zone {
  border: none;
}
