.help-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: url(./../images/verification-page/header/help.png) no-repeat center center;
  background-size: auto 100%;
  margin-right: 0px;
}

.topbar .top-navbar .navbar-header .navbar-brand b {
  line-height: 40px;
}

body {
  background: white;
}

.mini-sidebar .verification-page .logo,
.verification-page .logo {
  display: none;
  margin-left: 15px !important;
}

.verification-page .logo-text {
  margin-top: 10px;
  margin-left: 15px !important;
}


@media(max-width:991px) {
  .verification-page .logo-text {
    display: none;
  }

  .mini-sidebar .verification-page .logo,
  .verification-page .logo {
    display: inline-block;
  }
}
