<div class="card">
  <div class="card-body">
    <div class="row">
      <h4 class="card-title col-10 col-md-12">{{"UserGroupClaimType.Create.Title" | translate}}</h4>
      <a class="col-2 hidden-md-up text-center nav-link" id="remote-repository-user-close" href="javascript:void(0);"
        (click)="close()">
        <i class="ti-close"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-11 col-md-6 float-xs-left">
        <h6 class="card-subtitle">{{"UserGroupClaimType.Create.Description" | translate}}</h6>
      </div>
      <div class="col-12 col-md-6 float-right m-b-20 hidden-sm-down">
        <div class="button-box card-subtitle">
          <button (click)="close()" id="close-list-button" type="button" class="btn btn-outline-secondary btn-rounded btn-sm float-right">
            <fa-icon [icon]="faTimesCircle"></fa-icon> {{"UserGroupClaimType.Create.Actions.Close.Button" | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row m-t-20">
          <div class="col-12">
            <form [formGroup]="form" novalidate>
              <div class="row">
                <div class="col-12 col-md-6">
                  <app-project-selector formControlName="projectIdentifier" [initialiseWithCurrentlyAccessible]=true></app-project-selector>
                  <app-show-errors [control]="form.controls['projectIdentifier']"></app-show-errors>
                </div>
              </div>
              <div class="form-material row">
                <div class="col-12 col-md-6">
                  <app-int-text-box formControlName="type"></app-int-text-box>
                  <app-show-errors [control]="form.controls['type']"></app-show-errors>
                </div>
                <div class="col-12 col-md-6">
                  <app-int-text-box formControlName="description"></app-int-text-box>
                </div>
              </div>
              <div class="button-box col-12">
                <button (click)="add()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
                  <fa-icon [icon]="faPlus"></fa-icon> {{
                  "UserGroupClaimType.Create.Actions.Submit.Button" |
                  translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
