<div class="card-top"></div>
<div class="card">
  <div class="card-body" #detailCard>
    <div id="detail-header-top" [style.width]="headerWidth">
      <div class="row hidden-md-down">
        <h4 class="card-title hidden-md-down col-auto">{{"User.Detail.Title" | translate}} - {{
           model.repositoryUsername ? model.repositoryUsername : model.tenantUsername }}
        </h4>
        <div class="col m-b-20">
          <div class="button-box card-subtitle">
            <button *appAccessControl="'REPOSITORY_USER_MANAGEMENT'" (click)="close()" id="refresh-list-button"
              type="button" class="btn btn-outline-secondary btn-rounded btn-sm float-xs-left float-md-right">
              <fa-icon [icon]="faTimesCircle"></fa-icon> {{"User.Detail.Actions.Close.Button" | translate}}
            </button>
            <button (click)="refresh()" id="refresh-list-button" type="button"
              class="btn btn-outline-info btn-rounded btn-sm float-right">
              <fa-icon [icon]="faSync"></fa-icon> {{"Common.Refresh" | translate}}
            </button>
            <button *ngIf="displayState === displayStateContent && !model.isLoggedInUser" (click)="delete()"
              id="refresh-list-button" type="button" class="btn btn-outline-danger btn-rounded btn-sm float-right">
              <fa-icon [icon]="faTrash"></fa-icon> {{"User.Detail.Actions.Delete.Button" | translate}}
            </button>
            <app-return-to-main-site-button [asButton]=true></app-return-to-main-site-button>
          </div>
        </div>
      </div>
      <div class="mobile-buttons hidden-lg-up">
        <button (click)="close()" type="button" class="btn btn-secondary btn-rounded">
          <fa-icon [icon]="faTimesCircle"></fa-icon>
        </button>
        <button (click)="refresh()" type="button" class="btn btn-info btn-rounded">
          <fa-icon [icon]="faSync"></fa-icon>
        </button>
      </div>
    </div>
    <div [@slideBool]="displayState === displayStateContent">
      <div class="detail-tab-wrapper">
        <mat-tab-group [@.disabled]="true" (selectedTabChange)="onTabChanged($event)" md-dynamic-height
          class="detail-tab-group">
          <mat-tab [attr.data-tab-name]='linkdata'>
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-information-outline"></i>
                <span class="detail-tab-label">{{ "User.Detail.Tabs.Data.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-data></app-user-data>
            </ng-template>
          </mat-tab>
          <mat-tab [attr.data-tab-name]='linkSecurity'>
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-security"></i>
                <span class="detail-tab-label">{{ "User.Detail.Tabs.Security.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-security></app-user-security>
            </ng-template>
          </mat-tab>
          <mat-tab [attr.data-tab-name]='linkUsergroup'
            *ngIf="model.isTenantSpecific && ('REPOSITORY_USER_MANAGEMENT' | accessControl)">
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-group"></i>
                <span class="detail-tab-label">{{ "User.Detail.Tabs.UserGroupMembership.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-to-user-group-membership></app-user-to-user-group-membership>
            </ng-template>
          </mat-tab>
          <mat-tab [attr.data-tab-name]='linkClaims'
            *ngIf="model.isTenantSpecific && ('REPOSITORY_USER_MANAGEMENT' | accessControl)">
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-book-multiple"></i>
                <span class="detail-tab-label">{{ "User.Detail.Tabs.Claims.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-assigned-user-claims></app-user-assigned-user-claims>
            </ng-template>
          </mat-tab>
          <mat-tab [attr.data-tab-name]='linkGroupManagement'
            *ngIf="model.isTenantSpecific && ('REPOSITORY_USER_MANAGEMENT' | accessControl)">
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-gavel"></i>
                <span class="detail-tab-label">{{ "User.Detail.Tabs.UserGroupManagement.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-group-management></app-user-group-management>
            </ng-template>
          </mat-tab>
          <mat-tab [attr.data-tab-name]='linkUserTenantMembership'
            *appAccessControl="'REPOSITORY_PROFILE_PROJECT_ADMIN'">
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-link-variant"></i>
                <span class="detail-tab-label">{{ "User.Detail.Tabs.UserTenantMembership.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-tenant-membership></app-user-tenant-membership>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div [@slideBool]="displayState === displayStateLoader">
      <div class="section-preloader">
        <app-spinner></app-spinner>
      </div>
    </div>
    <div [@slideBool]="displayState === displayStateError ">
      <div class="alert alert-danger m-t-40">
        <span [translate]="'User.Detail.Messages.Error'"></span>
        <a (click)='retry()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
      </div>
    </div>
  </div>
</div>
