<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4 class="card-title">{{"RoleClaimType.List.Title" | translate}}
            </h4>
          </div>
        </div>
        <div class="row hidden-md-down">
          <div class="col-12">
            <h6 class="card-subtitle">{{"RoleClaimType.List.Description" | translate}}</h6>
          </div>
        </div>
        <div class="row" [@slideBool]="displayState === displayStateContent">
          <div class="col-12">
            <div class="row m-t-20">
              <div class="col-12">
                <div class="button-box">
                  <button (click)="refreshList()" id="refresh-list-button" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
                    <fa-icon [icon]="faSync"></fa-icon> {{"Common.Refresh" | translate}}
                  </button>
                  <button (click)="create()" id="create-list-button" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
                    <fa-icon [icon]="faPlus"></fa-icon> {{"RoleClaimType.List.Actions.Create.Button" | translate}}
                  </button>
                </div>
              </div>
            </div>

            <div class="row m-t-20">
              <div class="offset-md-6 offset-lg-8 col-md-6 col-lg-4">
                <mat-form-field class="w-100">
                  <input matInput #search type="search" placeholder="{{'Common.Search' | translate}}" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
            <mat-table matSort appResponsiveTable [appAllColumns]="allColumns" [appDesktopColumns]="desktopColumns"
              [appTabletColumns]="tabletColumns" [appMobileColumns]="mobileColumns" [appPaginator]="paginator" #sort="matSort"
              [appSort]="sort" [appFilter]="search.value" [appDataSource]="listModel" #table="responsiveTable"
              [columnValuesMapper]="columnValuesMapper">

              <!-- Column -->
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.type.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.type}} </mat-cell>
              </ng-container>

              <!-- Column -->
              <ng-container matColumnDef="projectCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.projectCode.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.identifier.projectCode}} </mat-cell>
              </ng-container>

              <!-- Column -->
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.description.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.description}} </mat-cell>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> {{"Common.Form.actions.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <app-role-claim-type-detail-button [roleClaimTypeIdentifier]="item.identifier"></app-role-claim-type-detail-button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="table.displayedColumns"></mat-header-row>

              <mat-row *matRowDef="let item; columns: table.displayedColumns;" class="element-row" [cdkDetailRow]="item"
                [cdkDetailRowTpl]="detailTemplate" responsiveTable="table">
              </mat-row>

              <ng-template #detailTemplate let-item>
                <section class="detail-section" [@detailExpand]>
                  <div class="detail-items">
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'type'">
                      {{"Common.Form.type.Label" | translate}} : {{item.type}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'projectCode'">
                      {{"Common.Form.projectCode.Label" | translate}} : {{item.identifier.projectCode}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'description'">
                      {{"Common.Form.description.Label" | translate}} : {{item.description}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'actions'">
                      {{"Common.Form.actions.Label" | translate}}
                      <app-role-claim-type-detail-button [roleClaimTypeIdentifier]="item.identifier"></app-role-claim-type-detail-button>
                    </div>
                  </div>
                </section>
              </ng-template>
            </mat-table>

            <!-- Pages -->
            <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>


          </div>
        </div>
        <div [@slideBool]="displayState === displayStateLoader">
          <div class="section-preloader">
            <app-spinner></app-spinner>
          </div>
        </div>
        <div [@slideBool]="displayState === displayStateNoneFound">
          <div class="row">
            <div class="col-12">
              <div class="button-box">
                <button (click)="create()" id="create-list-button" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
                  <fa-icon [icon]="faPlus"></fa-icon> {{"RoleClaimType.List.Actions.Create.Button" | translate}}
                </button>
              </div>
            </div>
          </div>
          <div class="alert alert-warning m-t-40">
            <span [translate]="'RoleClaimType.List.Messages.NoneFound'"></span>
            <a (click)='refreshList()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
          </div>
        </div>
        <div [@slideBool]="displayState === displayStateError ">
          <div class="alert alert-danger m-t-40">
            <span [translate]="'RoleClaimType.List.Messages.Error'"></span>
            <a (click)='refreshList()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
