/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // import a base theme
// import your custom theme
@import './material.scss';

// include your custom theme with a class
.custom-material-theme {
  @include angular-material-theme($material-theme);

  .mat-list .mat-list-item .mat-list-item-content,
  .mat-list .mat-list-option .mat-list-item-content,
  .mat-nav-list .mat-list-item .mat-list-item-content,
  .mat-nav-list .mat-list-option .mat-list-item-content,
  .mat-selection-list .mat-list-item .mat-list-item-content,
  .mat-selection-list .mat-list-option .mat-list-item-content {
    padding: 0px 0px 0px 5px;
  }

  .mat-list .mat-list-item,
  .mat-list .mat-list-option,
  .mat-nav-list .mat-list-item,
  .mat-nav-list .mat-list-option,
  .mat-selection-list .mat-list-item,
  .mat-selection-list .mat-list-option {
    height: auto;
    width: 100%;
    background: white;
    margin-bottom: 0px;
  }

  .mat-list .mat-list-item.active mat-icon,
  .mat-nav-list .mat-list-item.active mat-icon,
  .mat-selection-list .mat-list-item.active mat-icon {
    color: #398bf7;
  }

  .mat-list .mat-list-item:hover mat-icon,
  .mat-nav-list .mat-list-item:hover mat-icon,
  .mat-selection-list .mat-list-item:hover mat-icon {
    color: orange;
  }

  .mat-list .mat-list-item.sidenav-listitem {
    padding: 8px 8px 8px 16px;
  }
}

// example other global styles
body {
  font-family: 'Open Sans', sans-serif;
}
