@import '~@angular/material/theming';
// always include only once per project
@include mat-core();
$material-primary: mat-palette($mat-green);
$material-accent : mat-palette($mat-green, A100, A400, A700);
$material-warn : mat-palette($mat-red);
$material-theme: mat-light-theme($material-primary, $material-accent, $material-warn);