<form [formGroup]="form" novalidate>
  <div class="form-group form-material row">
    <div class="col-12">
      <label>{{ "Common.Form." + formControlName + ".Label" | translate }}</label>
    </div>
    <div class="col-12 float-left">
      <ss-multiselect-dropdown (ngModelChange)="onChange($event)" [options]="translatedOptions" [texts]="multiSelectTexts"
        formControlName="selection" [settings]="singleSelectSettings">
      </ss-multiselect-dropdown>
    </div>
  </div>
</form>
