label {
  margin-bottom: 0px;
}

.item-row {
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: left;
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.item-row .item-buttons {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-center-left {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  width: 100%;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.no-margin {
  margin: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.even.item-row {
  background: #FFF
}

.odd.item-row {
  background: #f7f7f7
}

.list-buttons,
.download-controls-area {
  margin: 20px 10px
}

.my-drop-zone {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px #398bf7;
}

.ui-fileupload-content {
  text-align: center;
}

.ui-fileupload-content .btn {
  margin-left: 10px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  cursor: pointer;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

@media (max-width: 767px) {
  .ui-widget-content {
    border: none;
  }
}


@media (min-width: 1200px) {

  .item-row .item-buttons {
    padding-top: 0px;
    padding-bottom: 0px;
  }

}

.profile-image {
  max-width: 200px;
  height: auto;
  max-height: 200px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ced4da;

}
