<div class="ui-fileupload-content">
  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
    [uploader]="uploader" class="well my-drop-zone">
    <div class="row w-100">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <app-profile-picture #image class="profile-image" [userIdentifier]="userIdentifier" [asIcon]=false>
            </app-profile-picture>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="download-controls-area">
              <div class="row" *ngIf="displayState === displayStateUpload">
                <div class="col-12 m-b-20">
                  <span class="text hidden-md-down">{{ 'Common.FileUpload.Labels.ClickOrDrag' | translate }}</span>
                  <span class="text hidden-lg-up">{{ 'Common.FileUpload.Labels.Choose' | translate }}</span>
                  <input *ngIf="allowMultiple" #input id="fileuploader-{{uuid}}" type="file" ng2FileSelect
                    [uploader]="uploader" class="inputfile" multiple formnovalidate />
                  <input *ngIf="!allowMultiple" #input id="fileuploader-{{uuid}}" type="file" ng2FileSelect
                    [uploader]="uploader" class="inputfile" formnovalidate />
                  <label for="fileuploader-{{uuid}}" class="btn btn-info btn-rounded" formnovalidate>
                    <fa-icon [icon]="faUpload"></fa-icon>
                  </label>
                </div>
              </div>
              <div class="row" *ngIf="displayState === displayStateUpload">
                <div class="col-12">
                  <div class="alert alert-warning">
                    <span class="text">{{ 'Common.ProfileImageUpload.Labels.Warning' | translate : params }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 alert alert-success" *ngIf="displayState === displayStateUploaded">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </div>
                <div class="col-12 alert alert-warning" *ngIf="displayState === displayStateCancelled">
                  <fa-icon [icon]="faTimes"></fa-icon>
                </div>
                <div class="col-12 alert alert-danger" *ngIf="displayState === displayStateError">
                  <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!readAsBase64">
          <div class="col-12">
            <div class="row item-row" *ngFor="let item of uploader.queue;
          let index =index;
          let isOdd=odd;
          let isEven=even" [class.odd]="isOdd" [class.even]="isEven">
              <div class="col-12 col-xl-10" *ngIf="item && !(item.isSuccess || item.isCancel || item.isError)">
                <div class="progress-holder">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-2 item-buttons flex-center-center"
                *ngIf="item && !(item.isSuccess || item.isCancel || item.isError)">
                <button class="btn btn-warning btn-rounded pull-right" (click)="item.cancel()"
                  *ngIf="item && item.isUploading">
                  <fa-icon [icon]="faTimes"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
