<form [formGroup]="form" novalidate>
  <div class="row">
    <div class="col-12 float-left">
      <div *ngIf="showLabel;then label else list"></div>
      <ng-template #label>
        <int-label [value]=projectName [controlName]='"project"'></int-label>
      </ng-template>
      <ng-template #list>
        <int-dropdown formControlName="project" [translate]=false [options]="projectOptions"></int-dropdown>
      </ng-template>
    </div>
  </div>
</form>
