<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>
      <div class="row">
        <div class="col-12 col-md-6">
          <int-label [value]='model?.identifier.value' [controlName]='"value"'></int-label>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <app-int-multi-checkbox formControlName="tenants" [options]="options"></app-int-multi-checkbox>
        </div>
      </div>
      <div class="button-box col-12">
        <button (click)="update()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
          <fa-icon [icon]="faBolt"></fa-icon>
          {{ "TenantClaim.Detail.Tabs.Membership.Actions.Submit.Button" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
