.card {
  background: white;
  border-radius: 20px;
}

.card-body {
  background: white;
  min-height: 200px;
}

li a.nav-link,
li a.nav-link span {
  border: 1px solid transparent;
  color: #495057;
  font-family: "Montserrat", sans-serif;
  transition: color 0.5s ease-in-out;
}

li a.nav-link span {
  padding-left: 7px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
li a.nav-link span:hover {
  color: #398bf7;
  transition: color 0.5s ease-in-out;
}

li a.nav-link.active {
  border-bottom: 2px solid #398bf7;
}

li a.nav-link.active span {
  color: #398bf7;
  transition: color 0.5s ease-in-out;
}

li a.nav-link:hover {
  color: #398bf7;
  transition: color 0.5s ease-in-out;
}

@media(max-width:767px) {
  .button-box {
    margin-top: 15px;
  }
}

#remote-repository-role-tab-contents {
  position: absolute;
  top: 145px;
  width: 100%;
  max-width: 100%;
}

#remote-repository-role-detail-header {
  position: fixed;
  width: -webkit-calc(100% - 285px);
  width: -moz-calc(100% - 285px);
  width: calc(100% - 285px);
  background-color: white;
  z-index: 100;
  top: 94px;
  height: 122px;
  padding: 30px 5px;
}

#remote-repository-role-detail-header .button-box {
  position: fixed;
  right: 50px;
}

.nav-tabs {
  position: absolute;
  bottom: 0px;
}

@media (max-width: 830px) {
  .nav-tabs .hidden-sm-down {
    display: none !important;
  }
}

#remote-repository-role-tab-contents {
  position: relative;
  top: 55px;
  width: 100%;
  overflow: visible;
}

#remote-repository-role-tab-contents .padded {
  padding: 50px 0px;
}

#remote-repository-role-tab-contents .padded.till-bottom {
  margin-bottom: -50px;
  background: white;
}


.alert.alert-danger {
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .alert.alert-danger {
    margin-top: 80px;
  }

  #remote-repository-role-tabs {
    position: absolute;
    left: 10px;
    height: 70px;
    background-color: white;
  }

  #remote-repository-role-tab-contents {
    position: relative;
    top: 55px;
    bottom: 0px;
    width: 100%;
  }

  #remote-repository-role-tab-contents .padded {
    padding: 5px 0px;
  }

  .card,
  .card-body,
  .card .card-body {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #remote-repository-role-detail-header {
    position: fixed;
    width: 100%;
    top: 55px;
    background-color: white;
    z-index: 100;
    height: 95px;
    padding: 10px 5px;
  }


}
