<app-sweet-alert></app-sweet-alert>
<app-logger-level-configurator></app-logger-level-configurator>
<app-page-preloader [shown]=preloaderShown></app-page-preloader>
<app-site-theme></app-site-theme>
<app-window-listener></app-window-listener>
<router-outlet></router-outlet>
