<form [formGroup]="form" novalidate>
  <div class="row">
    <div class="col-12 float-left">
      <div *ngIf="showLabel;then label else list"></div>
      <ng-template #label>
        <int-label [value]=passwordPolicyTypeName [controlName]='"passwordPolicyTypeCode"'></int-label>
      </ng-template>
      <ng-template #list>
        <int-dropdown formControlName="passwordPolicyTypeCode" [translate]=false [options]="passwordPolicyTypeOptions">
        </int-dropdown>
      </ng-template>
    </div>
  </div>
</form>
