<div class="form-group form-material text-area row inherit-height">
  <div class="col-12">
    <label>{{ "Common.Form."+formControlName+".Label" | translate }}</label>
  </div>
  <div class="col-12 float-left inherit-height">
    <div *ngIf="readonly; then label else input"></div>
    <ng-template #label>
      <div *ngIf="translatePrefix; then translated else raw"></div>
      <ng-template #translated>
        <label class="pre-wrap">{{ translatePrefix + model | translate}}</label></ng-template>
      <ng-template #raw>
        <label class="pre-wrap">{{ model }}</label></ng-template>
    </ng-template>
    <ng-template #input>
      <textarea #text class="form-control form-control-line inherit-height" required autofocus #commentsArea
        (focus)="onFocus(true)" (blur)="onFocus(false)" matInput [value]="model" (input)="writeValue(text.value)"
        placeholder="{{placeHolderText | translate}}"></textarea>
    </ng-template>
  </div>
</div>
