<div class="error-box">
    <div class="error-body text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">{{"Pages.NotFound.Title" | translate}}</h3>
        <p class="text-muted m-t-30 m-b-30">{{"Pages.NotFound.Message" | translate}}</p>
        <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/login']">{{"Pages.NotFound.Link" | translate}}</a> </div>
</div>