<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>
      <div class="row">
        <div class="col-12 col-lg-6">
          <app-profile-picture-control [userIdentifier]="model.identifier"></app-profile-picture-control>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12">
              <app-int-text-box formControlName="username" [readonly]=true></app-int-text-box>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <app-int-text-box formControlName="firstName"></app-int-text-box>
              <app-show-errors [control]="form.controls['firstName']"></app-show-errors>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <app-int-text-box formControlName="lastName"></app-int-text-box>
              <app-show-errors [control]="form.controls['lastName']"></app-show-errors>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <app-int-text-box formControlName="emailAddress"></app-int-text-box>
              <app-show-errors [control]="form.controls['emailAddress']"></app-show-errors>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ">
              <app-int-checkbox formControlName="enabled"></app-int-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="button-box col-12">
        <button (click)="update()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
          <fa-icon [icon]="faBolt"></fa-icon> {{ "User.Detail.Tabs.Data.Actions.Submit.Button" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
