<div class="form-group form-material row">
  <div class="col-12">
    <span>&nbsp;</span>
  </div>
  <div class="col-12 float-left">
    <div class="chk-box">
      <input tabindex="0" #chk id="{{id}}" [(ngModel)]="value" class="form-control" (blur)="onBlur()" type="checkbox">
      <label for="{{id}}">{{ "Common.Form."+formControlName+".Label" | translate }}</label>
      <app-show-errors [control]="formControl"></app-show-errors>
    </div>
  </div>
</div>
