.topbar {
  background: rgb(49, 49, 49) !important;
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:focus {
}

.container-fluid{
    background: rgb(49, 49, 49) !important;
    padding-bottom:15px;
}
.navbar-brand > .icon-banner{
	top: 0px;
}