@import url("./page.css");

.navbar-brand > .icon-banner, .logo {
    display: none;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 117px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: url(./../images/icon-logo.png) no-repeat center center;
    background-size: 100% auto;
}
