<div class="form-group form-material row">
  <div class="col-12">
    <label>{{ "Common.Form."+formControlName+".Label" | translate }}</label>
  </div>
  <div class="col-12 float-left">
    <div *ngIf="readonly; then label else input"></div>
    <ng-template #label>
      <div *ngIf="translatePrefix; then translated else raw"></div>
      <ng-template #translated>
        <label>{{ translatePrefix + model | translate}}</label></ng-template>
      <ng-template #raw>
        <label>{{ model }}</label></ng-template>
    </ng-template>
    <ng-template #input>
      <input #text class="form-control form-control-line" [type]="type" [value]="model" (input)="writeValue(text.value)"
        [min]="minimumNumber" [max]="maximumNumber">
    </ng-template>
  </div>
</div>
