<form [formGroup]="form" novalidate>
  <div class="row">
    <div class="col-12 float-left">
      <app-project-selector formControlName="project" [readonly]=readonly [initialiseWithCurrentlyAccessible]=initialiseWithCurrentlyAccessible></app-project-selector>
      <app-show-errors [control]="form.controls['project']"></app-show-errors>
    </div>
  </div>
  <div class="row">
    <div class="col-12 float-left">
      <div *ngIf="showLabel;then labelTenant else listTenant"></div>
      <ng-template #labelTenant>
        <int-label [value]=tenantName [controlName]='"tenant"'></int-label>
      </ng-template>
      <ng-template #listTenant>
        <int-dropdown formControlName="tenant" [options]="tenantOptions"></int-dropdown>
        <app-show-errors [control]="form.controls['tenant']"></app-show-errors>
      </ng-template>
    </div>
  </div>
</form>
