@import url("./page.css");

.logo {
  display: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: url(./../images/logo-icon.png) no-repeat center center;
  background-size: auto 100%;
  margin-left: -8px;
}

.mini-sidebar .logo {
  display: inline-block;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 70px;
  border: none;
  cursor: pointer;
  background: url(./../images/logo-text.png) no-repeat center center;
  background-size: 100% auto;
  margin-left: 21px;
}
