.topbar {
  background: white !important;
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:focus {
}

.container-fluid{
    background-color:black;
    padding-bottom:15px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgb(0,64,105);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}