.navbar-brand {
  width: 100%;
  /* height: 72px; */
  height: 55px;
  /*Changes KYC-134*/
}

.navbar {
  width: 100%;
  /* height: 72px; */
  height: 55px;
  /*Changes KYC-134*/
}

.navbar-brand {
  color: #fff;
  /* padding-left: 8px; */
  padding-left: 4px;
  /*Changes KYC-134*/
}

.topbar {
  z-index: 350;
}

app-notification-card,
.nav-link.notification-retry,
.nav-link.notification-markall {
  cursor: pointer;
}
