<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <!-- Logo icon -->
        <b>
          <div class="logo"></div>
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span *ngIf="showHide">
          <div class="logo-text"></div>
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item">
          <a class="nav-link hidden-md-up waves-effect waves-dark c-button c-button--push-left"
            href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"
            (click)="changeShowStatus()">
            <i class="ti-menu"></i>
          </a>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Language -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a target="_self" class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="flag-icon flag-icon-{{currentFlag}}"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
            <a class="dropdown-item" (click)="setLanguage('en')">
              <i class="flag-icon flag-icon-gb"></i>English
            </a>
            <a class="dropdown-item" (click)="setLanguage('it')">
              <i class="flag-icon flag-icon-it"></i>Italiano
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
