/* Transitions */
$vaiie-transition: 0.4s ease;
$vaiie-no-transition: 0s ease;

@mixin transitionColours() {
  @include setTransition($vaiie-transition,

    color, background-color, border-color, fill, box-shadow, opacity)
}

@mixin transitionSizesAndColours() {
  @include setTransition($vaiie-transition,

    color, background-color, border-color, fill, box-shadow, opacity,

    margin, padding, top, left, right, width, height, background-size)
}

@mixin setTransition($value, $args...) {
  $result: ();

  @for $i from 1 through length($args) {
    $prop: nth($args, $i);
    $transitionProp: append($prop, unquote($string: " "));
    $transitionProp: append($transitionProp, $value);
    $result: append($result, $transitionProp);

    @if $i !=length($args) {
      $result: append($result, unquote($string: ","));
    }
  }

  @include multiPlatformTransition($result);
}

@mixin multiPlatformTransition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

@mixin lightenOverlay() {
  -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

@mixin darkenOverlay() {
  -moz-box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}


.no-transitions-all {

  @include multiPlatformTransition(none);

  * {
    @include multiPlatformTransition(none);
  }
}

@mixin noTransitionsAll() {
  @extend .no-transitions-all;
}
