@import './../../../../companies/shared/styles/company.global.variables';

$version : #{$repoVersion};
$companyCode: 'vaiie';
$imagePrefix: '#{$companyCode}.';
$cacheBuster: '?v=#{$version}';
$baseCompanyFolder: '#{$baseCompanyAssetsFolder}/#{$companyCode}';
$baseImagesFolder: '#{$baseCompanyFolder}/images';
$baseIconsFolder: '#{$baseCompanyFolder}/icons';
$baseFontsFolder: '#{$baseCompanyFolder}/fonts';
$baseImagesFolderAndPrefix: '#{$baseImagesFolder}/#{$imagePrefix}';

/* Colours */
$vaiie-primary-cyan: #54a2a2;
$vaiie-primary-red:#ef3e42;
$vaiie-secondary-yellow: #f59a00;
$vaiie-secondary-blue: #0080c9;
$vaiie-secondary-green: #00975d;
$vaiie-secondary-navyblue:#0B1D2E;
$vaiie-secondaru-greyblue:#28475a;
$white: #fff;

/* Buttons */
$vaiie-primary-button-color: $white;
$vaiie-primary-button-background-color: $vaiie-secondary-blue;
$vaiie-secondary-button-color: $white;
$vaiie-secondary-button-background-color: $vaiie-secondary-yellow;
$vaiie-danger-color:$vaiie-primary-red;
