@import 'variables';
@import 'transitions';

a.btn:not(.btn-circle),
.btn:not(.btn-circle) {
  @include transitionColours();
  display: inline-block;
  padding: 8px 25px 8px 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;


  &.btn-info,
  &.btn-primary {
    color: $vaiie-primary-button-color;
    background-color: $vaiie-primary-button-background-color;
    border-color: $vaiie-primary-button-background-color;
    box-shadow: none;
    outline: none;

    &:hover,
    &.disabled:hover {
      background: $vaiie-secondary-navyblue;
      border: 1px solid $vaiie-secondary-navyblue;
      box-shadow: 0 14px 26px -12px rgba(36, 32, 31, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(36, 32, 31, 0.2);
    }

    &:focus,
    &:active,
    &:active:focus {
      color: $vaiie-primary-button-color;
      background-color: $vaiie-primary-button-background-color;
      border-color: $vaiie-primary-button-background-color;
      box-shadow: none;
      outline: none;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    }


  }

  &.btn-secondary,
  &.btn-warning {

    box-shadow: none;
    color: $vaiie-secondary-button-color;
    background-color: $vaiie-secondary-button-background-color;
    border-color: $vaiie-secondary-button-background-color;
    box-shadow: none !important;
    outline: none;

    &:hover {
      outline: 0;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
      background-color: darken($vaiie-secondary-button-background-color, 20%);
    }

    &:active,
    &:active:focus,
    &:focus {
      color: $vaiie-secondary-button-color;
      background-color: $vaiie-secondary-button-background-color;
      border-color: $vaiie-secondary-button-background-color;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    }


    &>fa-icon {
      color: $white;
    }
  }

  &.btn-secondary,
  &.btn-outline-secondary {

    &:active,
    &:focus {
      color: $vaiie-secondary-yellow;
      background-color: transparent;
      border-color: $vaiie-secondary-yellow;
      -webkit-box-shadow: 0 2px 2px 0 rgba(255, 178, 43, 0.42), 0 3px 1px -2px rgba(255, 178, 43, 0.12), 0 1px 5px 0 rgb(255, 178, 43, 0.2);
      box-shadow: 0 2px 2px 0 rgba(255, 178, 43, 0.42), 0 3px 1px -2px rgba(255, 178, 43, 0.12), 0 1px 5px 0 rgb(255, 178, 43, 0.2);
    }
  }

  &.btn-outline-secondary {
    background: $white;
    border-color: $vaiie-secondary-yellow;
    color: $vaiie-secondary-yellow;

    &>fa-icon,
    &>fa-icon * {
      color: $vaiie-secondary-yellow;
    }

    &:hover {
      background: $vaiie-secondary-yellow;
      border-color: $vaiie-secondary-yellow;
      color: $white;

      &>fa-icon,
      &>fa-icon * {
        color: $white;
      }
    }
  }

  &.btn-dossier-detail-refresh,
  &.btn-outline-primary,
  &.btn-outline-info,
  &.btn-outline-info.disabled {
    background-color: $white;
    border: 1px solid $vaiie-secondary-navyblue;
    -webkit-box-shadow: 0 2px 2px 0 rgba(36, 32, 31, 0.42), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(36, 32, 31, 0.2);
    box-shadow: 0 2px 2px 0 rgba(36, 32, 31, 0.42), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(36, 32, 31, 0.2);
    color: $vaiie-secondary-navyblue;

    * {
      color: $vaiie-secondary-navyblue;
    }

    &:hover {
      color: $white;
      background: $vaiie-secondary-navyblue;
      border: 1px solid $vaiie-secondary-navyblue;
      -webkit-box-shadow: 0 14px 26px -12px rgba(36, 32, 31, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(36, 32, 31, 0.2);
      box-shadow: 0 14px 26px -12px rgba(36, 32, 31, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(36, 32, 31, 0.2);
      background-color: $vaiie-secondary-navyblue;

      * {
        color: $white;
      }
    }

  }

  &.btn-success,
  &.btn-success.disabled {
    background: $vaiie-secondary-green;
    border: 1px solid $vaiie-secondary-green;
    -webkit-box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;

    &:hover {
      background: $vaiie-secondary-green;
      -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
      box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
      border: 1px solid $vaiie-secondary-green;
    }

    &.active,
    &:active,
    &:focus,
    &.disabled.active,
    &.disabled:active,
    &.disabled:focus {
      background: $vaiie-secondary-green;
      -webkit-box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
      box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
      border-color: transparent;
    }

  }

  &.btn-danger {
    background-color: $vaiie-danger-color;
  }

  &.btn-sm {
    padding: .25rem .4rem;
    height: initial;
  }


  &:hover {
    @include darkenOverlay();
  }

  &:active {
    @include lightenOverlay();
  }
}

/** Dossier **/

.btn.btn-dossier-detail-close {
  border-color: $vaiie-danger-color;
  color: $vaiie-danger-color;
  box-shadow: 0 2px 2px 0 rgba(239, 32, 31, 0.42), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(239, 32, 31, 0.2);

  * {
    color: $vaiie-danger-color;
  }

  &:hover {

    background-color: $vaiie-danger-color;
    color: $white;

    * {
      color: $white;
    }
  }
}
