@import "variables";

/*** VJBoard ***/
#dossier-list-dashboard.box {
  .box .box-title {
    font-weight: 900;
    text-transform: uppercase;
  }
}

.label-status-VJOnBoardTotal {
  background-color: $vaiie-secondaru-greyblue;

  * {
    color: $white;
  }
}

.label-status-VJOnBoardPending {
  background-color: $vaiie-secondary-yellow;

  * {
    color: $white;
  }
}

.label-status-VJOnBoardComplete,
.label-status-VJOnBoardClosed {
  background-color: $vaiie-secondary-green;

  * {
    color: $white;
  }
}

.label-status-VJOnBoardInformationGathering,
.label-status-VJOnBoardScreening,
.label-status-VJOnBoardReviewAndApproval,
.label-status-VJOnBoardRiskCommittee,
.label-status-VJOnBoardEscalation {
  background-color: $vaiie-secondary-navyblue;
  color: $white;
  border-color: $vaiie-secondary-navyblue;
}

.label-status-VJOnBoardPermanentlyRejected {
  background-color: $vaiie-primary-red;
  color: $white;
  border-color: $vaiie-primary-red;
}

.label.label-table {
  border-radius: 0px;
  width: 100%;
  text-align: center;
  margin: 0 20px;
  min-height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 900;
}

.box,
.label.label-table {
  &:hover {
    @include darkenOverlay();
  }
}

.list-icon {
  margin-top: 2px;
}

@media (max-width: 1280px) {
  .label.label-table {
    margin: 10px auto;
    width: auto;
  }
}

.mat-column-daysOpen .label {
  font-size: 100%;
}

.mat-column-daysOpen .label.label-table {
  margin: 0 4px;
}

.default-range-label {
  background-color: $vaiie-primary-cyan;
}

.label-days-level1 {
  background-color: $vaiie-secondary-green;
}

.label-days-level2 {
  background-color: $vaiie-secondary-yellow;
}

.label-days-level3 {
  background-color: $vaiie-primary-red;
}

/* Dossier status related css */

.mat-row .mat-column-status {
  * {
    width: 90%;
  }
}

.label-status-range-greyblue,
.label-status-range-greyblue * {
  background-color: $vaiie-secondaru-greyblue;
  color: $white;
  border-color: $vaiie-secondaru-greyblue;
}

.label-status-range-yellow,
.label-status-range-yellow * {
  background-color: $vaiie-secondary-yellow;
  color: $white;
  border-color: $vaiie-secondary-yellow;
}

.label-status-range-green,
.label-status-range-green * {
  background-color: $vaiie-secondary-green;
  color: $white;
  border-color: $vaiie-secondary-green;
}

.label-status-range-navyblue,
.label-status-range-navyblue * {
  background-color: $vaiie-secondary-navyblue;
  color: $white;
  border-color: $vaiie-secondary-navyblue;
}

.label-status-range-red,
.label-status-range-red * {
  background-color: $vaiie-primary-red;
  color: $white;
  border-color: $vaiie-primary-red;
}

.number-label {
  color: $white;
}

.number-label,
.string-label {
  &:hover {
    @include darkenOverlay();
  }
}
