@import 'variables';


.form-material {

  &.text-box input {
    background-color: #f0f0ee;
    padding: .375rem .75rem;

    &::placeholder {
      color: #adadad;
    }
  }

  .text-area textarea {
    background-color: #f0f0ee;
    padding: .375rem .75rem;
    min-height: 150px;
  }


  .form-control,
  .form-control.focus,
  .form-control:focus {
    background-image: linear-gradient($vaiie-secondary-yellow, $vaiie-secondary-yellow), linear-gradient(#e9edf2, #e9edf2);
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    float: none;
  }

}
