@import 'variables';

.mini-sidebar .top-navbar .navbar-header {
  width: 58px;
}


.strong {
  font-weight: bold;
}

.topbar {
  padding: 10px 20px;
  background-color: $vaiie-secondary-navyblue;

  .top-navbar {
    min-height: 40px;
    max-height: 40px;

    .navbar-header {
      background: transparent;
      padding-left: 0px;
      display: inline-block;
      height: 40px;
      line-height: 40px;

      .navbar-brand {
        padding-left: 0px;
        height: 40px;
        line-height: 40px;

        span,
        b {
          display: inline-block;
          height: 40px;
          line-height: 40px;
        }
      }
    }

    @media (min-width: 768px) {
      .navbar-header {
        width: 140px;
      }

      .mini-sidebar .navbar-header {
        width: 60px;
      }
    }

  }

  .navbar-light .navbar-nav .nav-item>a.nav-link:hover {
    color: $vaiie-secondary-yellow !important;


    .notify .warning {
      background-color: $white;

      i {
        color: $vaiie-secondary-yellow;
      }
    }
  }
}

@media (min-width: 768px) {
  .mini-sidebar .topbar .top-navbar .navbar-header {
    width: 60px;
  }
}
