@import 'variables';
@import 'transitions';


/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-timeline-navigation {


  a {
    border: 2px solid $vaiie-secondary-blue;
    background-color: $vaiie-secondary-blue;
    @include transitionColours();

    &::after {
      background: url(./icons/vaiie.cd-arrow.svg) no-repeat 0 0;
    }

    &:hover {
      border: $vaiie-secondary-navyblue;
      background-color: $vaiie-secondary-navyblue;
      border-color: $vaiie-secondary-navyblue;
    }

    @media (max-width:767px) {

      &:hover {
        border: 2px solid $vaiie-secondary-blue;
        background-color: $vaiie-secondary-blue;
      }

      &:active {
        border: $vaiie-secondary-navyblue;
        background-color: $vaiie-secondary-navyblue;
        border-color: $vaiie-secondary-navyblue;
      }
    }
  }
}

.no-touch {

  .cd-timeline-navigation {

    a:hover {
      border-color: #7b9d6f;

      &:hover {
        border-color: #dfdfdf;
      }
    }

    .events a:hover::after {
      background-color: $vaiie-secondary-blue;
      border-color: $vaiie-secondary-blue;
    }

  }

}

.cd-horizontal-timeline {

  a,
  a:hover,
  a:focus {
    color: #707070;
  }

  .filling-line {
    background-color: $vaiie-primary-cyan;
  }

  .events a::after {
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
  }

  .events a.selected {
    font-weight: 750;
  }

  .events a.selected::after {
    background-color: $vaiie-primary-red;
    border-color: $vaiie-primary-red;
  }

  .events a.older-event::after {
    border: 1px solid $vaiie-primary-cyan;
    background-color: white;
  }

  @include noTransitionsAll();
}


.timeline:before {
  background-color: #eeeeee;
}
