@import 'variables';

.logo {
  display: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 62px;
  border: none;
  cursor: pointer;
  background: url('./icons/vaiie.background.logo.svg'+ #{$cacheBuster}) no-repeat center center;
  background-size: 100% auto;
  max-width: 100%;
}

.logo-text {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 0px;
  border: none;
  cursor: pointer;
  background: url('./icons/vaiie.background.logo.svg'+ #{$cacheBuster}) no-repeat center center;
  background-size: 100px 40px;
  width: 100px;
  height: 40px;
}

.mini-sidebar {

  .navbar-brand {
    b {
      display: none !important;

      .logo {
        display: none !important;
      }
    }

    span {
      display: inline-block !important;

      .logo-text {
        display: inline-block !important;
        width: 62px;
        background-size: 100% auto;
      }
    }
  }
}
