@import 'variables';
@import 'transitions';

.mat-select-panel .mat-option:hover {
  background-color: $vaiie-secondary-yellow;

  .mat-option-text {
    color: $white;
  }
}

.mat-select-panel .mat-option .mat-option-text {
  @include setTransition($vaiie-no-transition, color);
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple),
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  background: $vaiie-secondary-blue;
  color: $white;

  &:hover {
    background-color: $vaiie-secondary-navyblue;
  }
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: $vaiie-secondary-navyblue
}

.mat-tab-group mat-tab-header .mat-tab-label.mat-tab-label-active .mat-tab-label-content span {
  font-weight: bold;
  color: $vaiie-secondary-navyblue
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-calendar-body-selected {
  background: $vaiie-secondary-yellow;
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
  background: $vaiie-secondary-navyblue;
}


.mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $vaiie-secondary-navyblue
}

.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background: $vaiie-secondary-navyblue
}

.mat-badge-content {
  color: #fff;
  background: $vaiie-secondary-yellow
}

.mat-badge-accent .mat-badge-content {
  background: $vaiie-secondary-navyblue;
  color: #fff
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
  color: $vaiie-secondary-yellow
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: $vaiie-secondary-navyblue
}

.mat-button.mat-primary .mat-button-focus-overlay,
.mat-icon-button.mat-primary .mat-button-focus-overlay,
.mat-stroked-button.mat-primary .mat-button-focus-overlay {
  background-color: $vaiie-secondary-yellow
}

.mat-button.mat-accent .mat-button-focus-overlay,
.mat-icon-button.mat-accent .mat-button-focus-overlay,
.mat-stroked-button.mat-accent .mat-button-focus-overlay {
  background-color: $vaiie-secondary-navyblue
}



.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: $vaiie-secondary-yellow
}

.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: $vaiie-secondary-navyblue
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: $vaiie-secondary-yellow
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $vaiie-secondary-navyblue
}


.mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {
  background-color: $vaiie-secondary-yellow
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: $vaiie-secondary-navyblue
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: $vaiie-secondary-yellow;
  color: #fff
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .mat-chip-remove {
  color: #fff;
  opacity: .4
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .mat-ripple-element {
  background: rgba(255, 255, 255, .1)
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-warn {
  background-color: #f44336;
  color: #fff
}


.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
  background-color: $vaiie-secondary-navyblue;
  color: #fff
}

.mat-calendar-body-selected {
  background-color: $vaiie-secondary-yellow;
  color: #fff
}

.mat-datepicker-content.mat-accent .mat-calendar-body-selected {
  background-color: $vaiie-secondary-navyblue;
  color: #fff
}

.mat-datepicker-toggle-active {
  color: $vaiie-secondary-yellow
}

.mat-datepicker-toggle-active.mat-accent {
  color: $vaiie-secondary-navyblue
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $vaiie-secondary-yellow
}

.mat-form-field.mat-focused .mat-form-field-label.mat-accent {
  color: $vaiie-secondary-navyblue
}

.mat-focused .mat-form-field-required-marker {
  color: $vaiie-secondary-navyblue
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $vaiie-secondary-yellow
}

.mat-form-field.mat-focused .mat-form-field-ripple.mat-accent {
  background-color: $vaiie-secondary-navyblue
}

.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid) .mat-form-field-infix::after {
  color: $vaiie-secondary-yellow
}

.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid).mat-accent .mat-form-field-infix::after {
  color: $vaiie-secondary-navyblue
}


.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $vaiie-secondary-yellow
}

.mat-form-field-appearance-outline.mat-focused.mat-accent .mat-form-field-outline-thick {
  color: $vaiie-secondary-navyblue
}

.mat-icon.mat-primary {
  color: $vaiie-secondary-yellow
}

.mat-icon.mat-accent {
  color: $vaiie-secondary-navyblue
}

.mat-input-element {
  caret-color: $vaiie-secondary-yellow
}

.mat-accent .mat-input-element {
  caret-color: $vaiie-secondary-navyblue
}

.mat-progress-bar-fill::after {
  background-color: $vaiie-secondary-yellow
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $vaiie-secondary-yellow
}

.mat-progress-spinner.mat-accent circle,
.mat-spinner.mat-accent circle {
  stroke: $vaiie-secondary-navyblue
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: $vaiie-secondary-yellow
}

.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-radio-button.mat-primary .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
  background-color: $vaiie-secondary-yellow
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $vaiie-secondary-navyblue
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $vaiie-secondary-navyblue
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $vaiie-secondary-yellow
}

.mat-form-field.mat-focused.mat-accent .mat-select-arrow {
  color: $vaiie-secondary-navyblue
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $vaiie-secondary-navyblue
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: $vaiie-secondary-yellow
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: $vaiie-secondary-navyblue
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: $vaiie-secondary-yellow
}


.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element {
  background-color: $vaiie-secondary-yellow
}

.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label,
.mat-primary .mat-slider-track-fill {
  background-color: $vaiie-secondary-yellow
}

.mat-primary .mat-slider-thumb-label-text {
  color: #fff
}

.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
  background-color: $vaiie-secondary-navyblue
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $vaiie-secondary-yellow;
  color: #fff
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $vaiie-secondary-yellow
}

.mat-tab-group.mat-accent .mat-ink-bar,
.mat-tab-nav-bar.mat-accent .mat-ink-bar {
  background-color: $vaiie-secondary-navyblue
}


.mat-tab-group.mat-background-primary .mat-tab-header,
.mat-tab-group.mat-background-primary .mat-tab-links,
.mat-tab-nav-bar.mat-background-primary .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary .mat-tab-links {
  background-color: $vaiie-secondary-yellow
}

.mat-tab-group.mat-background-accent .mat-tab-header,
.mat-tab-group.mat-background-accent .mat-tab-links,
.mat-tab-nav-bar.mat-background-accent .mat-tab-header,
.mat-tab-nav-bar.mat-background-accent .mat-tab-links {
  background-color: $vaiie-secondary-navyblue
}

.mat-toolbar.mat-primary {
  background: $vaiie-secondary-yellow;
  color: #fff
}

.mat-simple-snackbar-action {
  color: $vaiie-secondary-navyblue
}

/**

Approve/Reject dropdown

*/
.mat-select-panel .mat-option:hover {
  &.approval-option {
    background-color: $vaiie-secondary-green;
    color: $white;
  }

  &.reject-option {
    background-color: $vaiie-primary-red;
    color: $white;
  }
}

.mat-form-field {

  &.approval-option,
  &.approval-option span,
  &.approval-option .mat-select-arrow {
    background-color: $vaiie-secondary-green;
    color: $white;
  }

  &.reject-option,
  &.reject-option span,
  &.reject-option .mat-select-arrow {
    background-color: $vaiie-primary-red;
    color: $white;
  }

  span.mat-form-field-label-wrapper {
    background: none;
  }

  &.reject-option,
  &.approval-option {

    border-radius: 5px;
    padding: 0px 10px;

    .mat-form-field-wrapper .mat-form-field-underline {
      background-color: $white;
    }

    &.mat-focused {

      .mat-form-field-ripple {
        background: $white;
      }


      .mat-select-arrow {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid;
        margin: 0 3px;
        color: $white;
      }
    }
  }
}
