@import 'variables';
@import 'transitions';


app-sidebar .sidebar-nav .waves-effect {
  @include transitionSizesAndColours();
}

.no-transitions-all .sidebar-nav .waves-effect,
.no-transitions .sidebar-nav .waves-effect {
  @include multiPlatformTransition(none);
}

.list-icon {
  min-height: 19px;

  &:before {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.mat-list-item-content .menu-text {
  text-transform: uppercase;
}

.sidebar-nav .sidenav-listitem {
  background-color: #fff;

  i,
  span,
  mat-icon {
    color: $vaiie-primary-cyan;
    background-color: transparent;
  }

  &.active {
    background-color: $vaiie-secondary-blue;

    i,
    span,
    mat-icon {
      color: #fff;
      background-color: transparent;
    }
  }

  &:hover {
    background-color: $vaiie-secondary-yellow;
  }

  &:hover i,
  &:hover span,
  &:hover mat-icon {
    color: #fff;
    background-color: transparent;
  }

  i.list-icon {
    width: 25px;
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 5px;
  }
}

app-sidebar .sidebar-nav .custom-material-theme {

  .mat-list .mat-list-item,
  .mat-list .mat-list-option,
  .mat-nav-list .mat-list-item,
  .mat-nav-list .mat-list-option,
  .mat-selection-list .mat-list-item,
  .mat-selection-list .mat-list-option {
    width: 180px;
  }
}

app-sidebar .scroll-sidebar {
  width: 190px;
}


app-sidebar .sidebar-nav .list-container .menu-text {
  opacity: 1;
}

.mini-sidebar app-sidebar .scroll-sidebar {
  width: 60px;

  * div {
    overflow: hidden;
  }
}

.mini-sidebar app-sidebar {
  &:hover .scroll-sidebar {
    width: 200px;
  }

  .sidebar-nav .list-container {
    .menu-text {
      opacity: 0;
    }

    &:hover .menu-text {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  app-sidebar .sidebar-nav .list-container {
    width: 180px;
  }

  .mini-sidebar.fix-sidebar .left-sidebar {
    z-index: 15;
  }

  .mini-sidebar app-sidebar .sidebar-nav .list-container {
    overflow: hidden;

    &:hover .menu-text,
    .menu-text {
      display: inline-block;
    }

    .sidenav-listitem {
      max-height: 40px;
    }

    &:hover .sidenav-listitem {
      height: auto;
      width: 100%;
      max-height: 300px;
    }
  }
}
