.ui-fileupload-content.style1 {

  .file-upload-button {
    background-color: #24201f;
  }

  .form-material.text-box {
    background-color: #f0f0ee;

    input {
      padding: 0;
    }

  }

}

.my-drop-zone {
  border: none;
}
