<div class="form-group form-material">
  <div class="row">
    <div class="col-12">
      <label>{{ "Common.Form."+formControlName+".Label" | translate }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="readonly; then label else input"></div>
      <ng-template #label>
        <div *ngIf="translatePrefix; then translated else raw"></div>
        <ng-template #translated>
          <label>{{ translatePrefix + model | translate}}</label></ng-template>
        <ng-template #raw>
          <label>{{ model }}</label></ng-template>
      </ng-template>
      <ng-template #input>
        <input #text class="form-control form-control-line" type="text" [value]="model"
          (input)="writeValue(text.value)">
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <label>{{ "Common.Form.Regex.Test" | translate }}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <input #testInput class="form-control form-control-line" type="text" (input)="testRegex()">
        </div>
        <div class="col-2" *ngIf="testInput.value">
          <fa-icon [icon]="faTimesCircle" *ngIf="!isMatch" class="not-match"></fa-icon>
          <fa-icon [icon]="faCheck" *ngIf="isMatch" class="match"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
