<div class="card-top"></div>
<div class="card">
  <div class="card-body" #detailCard>
    <div id="detail-header-top" [style.width]="headerWidth">
      <div class="row hidden-md-down">
        <h4 class="card-title hidden-md-down col-auto">{{"UserGroupClaim.Detail.Title" | translate}} -
          {{ model.identifier?.type }} {{ model.identifier?.value }}
        </h4>
        <div class="col m-b-20">
          <div class="button-box card-subtitle">
            <button (click)="close()" id="refresh-list-button" type="button" class="btn btn-outline-secondary btn-rounded btn-sm float-xs-left float-md-right">
              <fa-icon [icon]="faTimesCircle"></fa-icon> {{"UserGroupClaim.Detail.Actions.Close.Button" | translate}}
            </button>
            <button (click)="refresh()" id="refresh-list-button" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
              <fa-icon [icon]="faSync"></fa-icon> {{"Common.Refresh" | translate}}
            </button>
            <button *ngIf="displayState === displayStateContent" (click)="delete()" id="refresh-list-button" type="button"
              class="btn btn-outline-danger btn-rounded btn-sm float-right">
              <fa-icon [icon]="faTrash"></fa-icon> {{"UserGroupClaim.Detail.Actions.Delete.Button" | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="mobile-buttons hidden-lg-up">
        <button (click)="close()" type="button" class="btn btn-secondary btn-rounded">
          <fa-icon [icon]="faTimesCircle"></fa-icon>
        </button>
        <button (click)="refresh()" type="button" class="btn btn-info btn-rounded">
          <fa-icon [icon]="faSync"></fa-icon>
        </button>
      </div>
    </div>
    <div [@slideBool]="displayState === displayStateContent">
      <div class="detail-tab-wrapper">
        <mat-tab-group [@.disabled]="true" (selectedTabChange)="onTabChanged($event)" md-dynamic-height class="detail-tab-group">
          <mat-tab [attr.data-tab-name]='linkdata'>
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-information-outline"></i>
                <span class="detail-tab-label">{{ "UserGroupClaim.Detail.Tabs.Data.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-group-claim-data></app-user-group-claim-data>
            </ng-template>
          </mat-tab>
          <mat-tab [attr.data-tab-name]='linkMembership'>
            <ng-template mat-tab-label>
              <span class="link">
                <i class="mdi mdi-group"></i>
                <span class="detail-tab-label">{{ "UserGroupClaim.Detail.Tabs.Membership.Label" | translate }}</span>
              </span>
            </ng-template>
            <ng-template matTabContent>
              <app-user-group-claim-membership></app-user-group-claim-membership>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div [@slideBool]="displayState === displayStateLoader">
      <div class="section-preloader">
        <app-spinner></app-spinner>
      </div>
    </div>
    <div [@slideBool]="displayState === displayStateError ">
      <div class="alert alert-danger m-t-40">
        <span [translate]="'UserGroupClaim.Detail.Messages.Error'"></span>
        <a (click)='retry()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
      </div>
    </div>
  </div>
</div>
