.card {
  background: white;
  border-radius: 20px;
}

.form-group.dropdown-section {
  overflow: auto;
  overflow: initial;
}

a.nav-link {
  color: #495057;
  font-family: "Montserrat", sans-serif;
}
