<form [formGroup]="form" novalidate>
  <div class="form-group form-material row">
    <div class="col-12">
      <label>{{ "Common.Form.password.Label" | translate }}</label>
    </div>
    <div class="col-12 float-left">
      <input #password type="password" id="password" class="form-control" formControlName="password">
    </div>
  </div>
  <div class="form-group form-material row">
    <div class="col-12">
      <label>{{ "Common.Form.confirmPassword.Label" | translate }}</label>
    </div>
    <div class="col-12">
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
      <app-show-errors [control]="form.controls['confirmPassword']"></app-show-errors>
    </div>
  </div>
  <div class="form-group form-material" *ngIf="password.value">
    <app-password-policy-validation-result [passwordPolicies]="passwordPoliciesMatches">
    </app-password-policy-validation-result>
  </div>
</form>
