<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="./">
        <!-- Logo icon -->
        <b [style.display]="showMiniBar ? 'inherit' : 'none' ">
          <div class="logo"></div>
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span [style.display]="showMiniBar ? 'none' : 'inherit'">
          <div class="logo-text"></div>
        </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <li class="nav-item">
          <a class="nav-link hidden-md-up waves-effect waves-dark c-button c-button--push-left"
            href="javascript:void(0)">
            <i class="ti-menu"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"
            (click)="changeShowStatus()">
            <i class="ti-menu"></i>
          </a>
        </li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Language -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a target="_self" class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="flag-icon flag-icon-{{currentFlag}}"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
            <a class="dropdown-item" (click)="setLanguage('en')">
              <i class="flag-icon flag-icon-gb"></i>English
            </a>
            <a class="dropdown-item" (click)="setLanguage('it')">
              <i class="flag-icon flag-icon-it"></i>Italiano
            </a>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <app-profile-picture [asIcon]=true [data]="user?.profileImage"></app-profile-picture>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated flipInY">
            <ul class="dropdown-user">
              <!-- Hide all the profile drop-down links except logout (KYC-88) -->
              <li>
                <div class="dw-user-box">
                  <div class="u-img">
                    <app-profile-picture [data]="user?.profileImage" [asBox]=true [asIcon]=false></app-profile-picture>
                  </div>
                  <div class="u-text">
                    <h4>{{ username }}</h4>
                    <p class="text-muted">{{ name }}&nbsp;</p>
                    <a [routerLink]="['/users/detail']" class="btn btn-rounded btn-danger btn-sm">{{
                      "Header.ViewProfile" | translate }}</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <div></div>
              <li [hidden]="!returnButton?.hasReturnUrl">
                <app-return-to-main-site-button #returnButton></app-return-to-main-site-button>
              </li>
              <li [hidden]="!returnButton?.hasReturnUrl" role="separator" class="divider"></li>
              <!-- <li>
                <a href="#">
                  <i class="ti-user"></i> My Profile</a>
              </li>
              <li>
                <a href="#">
                  <i class="ti-wallet"></i> My Balance</a>
              </li>
              <li>
                <a href="#">
                  <i class="ti-email"></i> Inbox</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">
                  <i class="ti-settings"></i> Account Setting</a>
              </li>
              <li role="separator" class="divider"></li> -->
              <li>
                <a href="#" (click)="logout()">
                  <fa-icon [icon]="faPowerOff"></fa-icon> {{ "Header.Logout" | translate }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
