<div class="list-container" [class.top-list]="node.isTop">
  <mat-list-item [disableRipple]="true"
    [ngClass]="getListClass() + ' ' + selectedListClasses + ' waves-effect waves-dark'" *ngIf="!node.hidden"
    (click)="expand(node)">
    <div class="anml-data">
      <i *ngIf="node.icon" class="{{node.icon}}"></i>
      <span [class.hide-menu]="node.isTop && !isMouseOver" class="menu-text"> {{ node.localisation |
        translate:node.localisationParam }}</span>
    </div>
    <mat-icon *ngIf='hasItems' [@isExpanded]="hasItems && expanded ? 'yes' : 'no'">
      keyboard_arrow_down
    </mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div *ngIf="hasItems && expanded" [@slideInOut] [ngClass]="classes">
    <div *ngIf="node.isTop">
      <ng-list-item *ngFor="let singleNode of nodeChildren" [nodeConfiguration]='nodeConfiguration' [node]='singleNode'
        [level]="level + 1" [selectedNode]='selectedNode' (selectedItem)="selectedListItem($event)">
      </ng-list-item>
    </div>
    <div *ngIf="!node.isTop">
      <ng-list-item *ngFor="let singleNode of nodeChildren" [nodeConfiguration]='nodeConfiguration' [node]='singleNode'
        [level]="level + 1" [selectedNode]='selectedNode' (selectedItem)="selectedListItem($event)">
      </ng-list-item>
    </div>
  </div>
</div>
