.amml-item {
  line-height: 48px;
  position: relative;
  cursor: pointer;
}

.anml-data {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.amml-icon {
  line-height: 48px;
  margin-right: 15px;
}

.amml-icon-fa {
  font-size: 20px;
}

.menu-text {
  line-height: 22px;
  /*Changes KYC-134*/
}

.amml-submenu {
  margin-left: 16px;
}

.scroll-container {
  height: auto;
  margin-right: 20px;
  padding-bottom: 20px;
}
