@import url('./fonts/fonts.min.css');

body {
    font-family: 'proxima_nova_altbold';
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

/* Bootstrap page */
.login-page .panel-heading {
    display: none;
}

.login-page .panel-default {
    border: none;
}

/* buttons */
.btn {
    border: none;
    border-radius: 0px;
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
}

    .btn.btn-primary {
        background: #f9b949 !important;
    }

    .btn.btn-default {
        background-color: #f0f0ee !important;
    }

/* controls */
.form-control {
    border-radius: 0px;
    background-color: #f0f0ee;
    border: none;
    box-shadow: none;
}

input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.login-remember{
    display:none;
}

input[type=checkbox] {
    display: none;
}

    input[type=checkbox] + label:before {
        content: "\2714";
        font-size: 11px;
        border: 0.1em solid #000;
        border-radius: 0.4em;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-right: 0.2em;
        vertical-align: bottom;
        color: transparent;
        transition: .2s;
        margin-bottom: 2px;
    }

    input[type=checkbox] + label:active:before {
        transform: scale(0);
    }

    input[type=checkbox]:checked + label:before {
        background-color: #5299f4;
        border-color: #5299f4;
        color: #fff;
    }

    input[type=checkbox]:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }

    input[type=checkbox]:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfd7f5;
        border-color: #bfd7f5;
    }

/* header */
.topbar {
    background: #f9b949 !important;
}

    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link,
    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover,
    .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
    }

.container-fluid {
    background: #f9b949 !important;
    padding-left: 0px;
}

.navbar {
    border: none;
}

.navbar-brand > .icon-banner {
    margin-left: 25px;
    height: 62px;
}

.navbar-brand {
    float: left;
    background-color: white;
    height: 60px;
}

.navbar-brand {
    padding: 0px 0px;
}

.navbar-header {
    top: 0px;
}

.navbar-brand > .icon-banner, .logo {
    display: inline-block;
    vertical-align: unset;
    margin: 10px 10px 10px 30px;
    padding: 0;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: url(./../images/logo-xs.png) no-repeat center center;
    background-size: contain;
}

.logo-text {
    display: none;
    vertical-align: unset;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 45px;
    border: none;
    cursor: pointer;
    background: url(./../images/logo.png) no-repeat center center;
    background-size: 80% auto;
    margin: 8px 15px 7px 15px;
}

.navbar-inverse .navbar-toggle{
    border-color: white;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    .navbar-brand > .icon-banner {
        display: none !important;
    }

    .logo-text {
        display: inline-block;
    }

    .btn {
        margin-bottom: 0px;
        width: 49%;
        max-width: 200px;
    }
}
