.navbar-brand > .icon-banner {
    display: none;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    border: none;
    cursor: pointer;
    background: url('./icons/vaiie.logo.blue.white.png') no-repeat center center;
    background-size: 100px 40px;
    width: 100px;
    height: 40px;
}



.mini-sidebar .top-navbar .navbar-header {
    width: 58px;
}


.strong {
    font-weight: bold;
}

.navbar {
    background-color: #54a2a2;
    padding: 10px 20px;
}

    .navbar .container-fluid {
        padding-left: 0px;
    }

    .navbar .navbar-header {
        background: transparent;
        padding-left: 0px;
        top: 0px;
    }

    .navbar .navbar-brand {
        height: initial;
        padding: 0px;
        margin-left: 0px
    }

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

/* buttons */
.btn {
    display: inline-block;
    padding: 8px 25px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

    .btn.btn-primary {
        background: #0080c9 !important;
    }

    .btn.btn-default {
        color: #28475a !important;
        background-color: #fff;
        border-color: #28475a !important;
    }