<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>
      <div class="form-material row">
        <div class="col-12 col-md-6">
          <int-label [value]="model.identifier?.projectCode" [controlName]='"projectCode"'></int-label>
        </div>
        <div class="col-12 col-md-6">
          <app-int-text-box formControlName="projectName"></app-int-text-box>
          <app-show-errors [control]="form.controls['projectName']"></app-show-errors>
        </div>
      </div>
      <div class="form-material row">
        <div class="col-12 col-md-6">
          <app-int-checkbox formControlName="enabled"></app-int-checkbox>
        </div>
      </div>
      <div class="button-box col-12">
        <button (click)="update()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
          <fa-icon [icon]="faBolt"></fa-icon> {{ "Project.Detail.Tabs.Data.Actions.Submit.Button" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
