.error-box {
    height: 100%;
    /*background: url(../../../assets/images/background/error-bg.jpg) no-repeat center center #fff;*/
    width: 100%;
}

.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.error-box .error-detail,.error-box .error-detail div {
    margin: 0 auto;
    transition: all 0.5s ease;
    padding: 20px 0px;
}

.error-body {
    padding: 40px;
    padding-top: 5%;
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    line-height: 210px;
    color: #d61f1f;
}

@media(max-width:767px) {
    .error-box {
        position: relative;
        padding-bottom: 60px;
    }
    .error-body {
        padding-top: 10%;
    }
    .error-body h1 {
        font-size: 100px;
        font-weight: 600;
        line-height: 100px;
    }
}