<div class="error-box">
  <div class="error-body text-center">
    <h1>
        <fa-icon [icon]="faTimesCircle"></fa-icon>
    </h1>
    <h3 class="text-uppercase">{{"Pages.Error.Title" | translate}}</h3>
    <p class="text-muted m-t-30 m-b-30">{{"Pages.Error.Message" | translate}}</p>

    <div class="button-box">
      <button (click)="goToHomePage()" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">
        <fa-icon [icon]="faHome"></fa-icon> {{"Pages.Error.Link" | translate}}</button>
      <button *ngIf="model && model.url" (click)="returnToPreviousPage()" class="btn btn-warning btn-rounded waves-effect waves-light m-b-40">
        <fa-icon [icon]="faArrowCircleRight"></fa-icon> {{"Pages.Error.ReturnLink" | translate}}</button>
    </div>
    <div *ngIf="model && model.url" class="error-detail">
      <a href="javascript:void(0);" (click)="toggleDetails()">{{"Pages.Error.Details" | translate}}</a>
      <div [style.opacity]="showDetails ? 1 : 0">
        
        <span class="text-muted">{{"Pages.Error.ErrorDetailsLabel" | translate}} <a href="javascript:void(0);" (click)="copyToClipBoard()">{{"Pages.Error.Copy" | translate}}</a></span>
        <br />
        <br />
        <span class="text-muted">@{{ model.time }}</span>
        <br />
        <span class="text-muted">Url: {{ model.url }}</span>
        <br />
        <span class="text-muted">ConnectionId: {{ model.connectionId }}</span>
        <br />
        <span *ngIf="model.error && model.error.message" class="text-muted">Message: {{ model.error?.message }}</span>
      </div>
    </div>
  </div>
</div>