<div *ngIf="returnUrl; then content"></div>
<ng-template #content>
  <div *ngIf="asButton; then button; else link"></div>
  <ng-template #button>
    <button (click)="returnToSite()" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
      <i class="ti-hand-point-left"></i> {{"Common.ReturnToSite" | translate}}
    </button>
  </ng-template>
  <ng-template #link>
    <a (click)="returnToSite()">
      <i class="ti-hand-point-left"></i> {{"Common.ReturnToSite" | translate}}
    </a>
  </ng-template>
</ng-template>
