<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="right-sidebar">
  <div class="slimscrollright">
    <div class="rpanel-title"> Chat <span><i class="ti-close right-side-toggle"></i></span> </div>
    <div class="r-panel-body">
      <ul class="chatonline">
        <li>
          <a href="javascript:void(0)"><img src="assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
        </li>        
      </ul>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
