<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">

        <form [formGroup]="formPassword" novalidate>
          <div class="row">
            <div class="col-12 col-lg-6">
              <int-password formControlName="password" [passwordPolicies]="model.passwordPolicies"></int-password>
              <app-show-errors [control]="formPassword.controls['password']"></app-show-errors>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6" *ngIf="passwordPoliciesResult">
              <div class="row">
                <div class="col-12">
                  <label>{{ "User.Detail.Tabs.Security.Actions.UpdatePassword.ValidationErrors" | translate }}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <app-password-policy-validation-result [passwordPolicies]="passwordPoliciesResult">
                  </app-password-policy-validation-result>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="button-box col-12">
              <button (click)="updatePassword()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
                <fa-icon [icon]="faBolt"></fa-icon>
                {{ "User.Detail.Tabs.Security.Actions.UpdatePassword.Button" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row" *appAccessControl="'REPOSITORY_USER_MANAGEMENT'">
      <div class="col-12">
        <form [formGroup]="formSettings" novalidate>
          <div class="row">
            <div class="col-12 col-md-6">
              <app-int-checkbox formControlName="setPasswordOnNextLogin"></app-int-checkbox>
            </div>
          </div>
          <div class="button-box col-12">
            <button (click)="updatSettings()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
              <fa-icon [icon]="faBolt"></fa-icon> {{ "User.Detail.Tabs.Security.Actions.UpdateSecuritySettings.Button" | translate
          }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
