.card {
  background: white;
  border-radius: 20px;
}

.card-body {
  background: white;
  min-height: 200px;
}


@media(max-width:767px) {
  .button-box {
    margin-top: 15px;
  }
}

.tab-wrapper {
  margin-left: -20px;
  margin-right: -20px;
}


#detail-header-top {
  position: fixed;
  background: white;
  z-index: 100;
  padding: 20px 0px;
  top: 95px;
}

#detail-header-top .button-box {}

.nav-tabs {
  position: absolute;
  bottom: 0px;
}

@media (max-width: 830px) {
  .nav-tabs .hidden-sm-down {
    display: none !important;
  }
}

#tab-contents {
  position: relative;
  top: 55px;
  width: 100%;
  overflow: visible;
}

#tab-contents .padded {
  padding: 50px 0px;
}

#tab-contents .padded.till-bottom {
  margin-bottom: -50px;
  background: white;
}


.alert.alert-danger {
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .alert.alert-danger {
    margin-top: 80px;
  }

  .card,
  .card-body,
  .card .card-body {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #detail-header-top {
    position: fixed;
    width: 100%;
    top: 55px;
    background-color: white;
    z-index: 100;
    height: 95px;
    padding: 10px 5px;
  }


}
