<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>
      <div class="row">
        <div class="col-12 col-md-6">
          <app-tenant-selector formControlName="tenantIdentifier" [initialiseWithCurrentlyAccessible]=true [readonly]=true></app-tenant-selector>
        </div>
        <div class="col-12 col-md-6">
          <app-int-text-box formControlName="description"></app-int-text-box>
          <app-show-errors [control]="form.controls['description']"></app-show-errors>
        </div>
      </div>
      <div class="button-box col-12">
        <button (click)="update()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
          <fa-icon [icon]="faBolt"></fa-icon> {{ "Role.Detail.Tabs.Data.Actions.Submit.Button" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
