.card-body {
    background: white;
    border-radius: 10px;
    min-height: 300px;
}

.label.label-table {
    border-radius: 12px;
}

.label.label-table {
    width: 100%;
    text-align: center;
}

.urgent {
    color: #fb3a3a;
}

.section-preloader {
    background: white;
    padding-top: 200px;
    padding-bottom: 0px;
    border-radius: 10px;
}

#dashboard .card .box {
    height: 100%;
    display: table;
    width: 100%;
    min-height: 100px;
}

#dashboard .card .box .text-white {
    color: #fff !important;
    display: table-row;
    vertical-align: middle;
    width: 100%;
}

.bg-black {
    background-color: black;
    color: white;
}

.label-days-level1 {
    background-color: #8bc34a;
}

.label-days-level2 {
    background-color: #ffc107;
}

.label-days-level3 {
    background-color: #fb3a3a;
}

th .header-text {
    word-break: break-all
}

th .tagline {
    display: inline-block;
    width: min-content;
    padding: 1px 0;
}

th .tagline div {
    display: inline;
    padding: 8px 0;
}

th .tagline span {
    position: relative;
    word-wrap: normal;
    padding-left: 0px;
}

th span {
    padding-left: 5px;
}

th.header-description {
    width: 120px;
}

.text-black {
    color: black;
}

@media(max-width:1024px) {
    .label.label-table {
        width: auto;
        width: initial;
        padding-left: 30px;
        padding-right: 30px;
    }
}