<div class="card">
  <div class="card-body">
    <div class="row">
      <h4 class="card-title col-10 col-md-12">{{"PasswordPolicy.Create.Title" | translate}}</h4>
      <a class="col-2 hidden-md-up text-center nav-link" id="remote-repository-user-close" href="javascript:void(0);"
        (click)="close()">
        <i class="ti-close"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-11 col-md-6 float-xs-left">
        <h6 class="card-subtitle">{{"PasswordPolicy.Create.Description" | translate}}</h6>
      </div>
      <div class="col-12 col-md-6 float-right m-b-20 hidden-sm-down">
        <div class="button-box card-subtitle">
          <button (click)="close()" id="close-list-button" type="button"
            class="btn btn-outline-secondary btn-rounded btn-sm float-right">
            <fa-icon [icon]="faTimesCircle"></fa-icon> {{"PasswordPolicy.Create.Actions.Close.Button" | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="m-t-40">
      <form [formGroup]="form" novalidate>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-tenant-selector formControlName="tenantIdentifier" [initialiseWithCurrentlyAccessible]=true>
            </app-tenant-selector>
            <app-show-errors [control]="form.controls['tenantIdentifier']"></app-show-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-password-policy-type-selector formControlName="passwordPolicyTypeIdentifier"
              [initialiseWithCurrentlyAccessible]=true>
            </app-password-policy-type-selector>
            <app-show-errors [control]="form.controls['passwordPolicyTypeIdentifier']"></app-show-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="passwordPolicyCode"></app-int-text-box>
            <app-show-errors [control]="form.controls['passwordPolicyCode']"></app-show-errors>
          </div>
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="defaultErrorMessage"></app-int-text-box>
            <app-show-errors [control]="form.controls['defaultErrorMessage']"></app-show-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-int-text-area formControlName="description"></app-int-text-area>
            <app-show-errors [control]="form.controls['description']"></app-show-errors>
          </div>
        </div>
        <div class="row" *ngIf="showRegexSection">
          <div class="col-12 col-md-6">
            <app-regex formControlName="regex"></app-regex>
            <app-show-errors [control]="form.controls['regex']"></app-show-errors>
          </div>
        </div>
        <div class="row" *ngIf="showLengthSection">
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="length" [minimumNumber]="0" [numbersOnly]="true"></app-int-text-box>
            <app-show-errors [control]="form.controls['length']"></app-show-errors>
          </div>
        </div>
        <div class="row" *ngIf="showHistorySection">
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="historyLimit" [minimumNumber]="1" [numbersOnly]="true">
            </app-int-text-box>
            <app-show-errors [control]="form.controls['historyLimit']"></app-show-errors>
          </div>
        </div>
        <div class="button-box col-12">
          <button (click)="add()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
            <fa-icon [icon]="faPlus"></fa-icon> {{ "PasswordPolicy.Create.Actions.Submit.Button" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
