<div [ngClass]="getClassName()" [ngStyle]="getGlobalStyle()" *ngIf='items.length !== 0'>
  <app-auto-hight-adjust (heightAdjust)='scrollBar.update()'>
    <ng-scrollbar [autoUpdate]=true [barClass]="'global-custom-scrollbar-bar'" #scrollBar>
      <mat-list>
        <ng-list-item *ngFor="let node of items" [nodeConfiguration]='nodeConfig' [node]='node' [selectedNode]='currentNode'
          (selectedItem)="selectedListItem($event)">
        </ng-list-item>
      </mat-list>
    </ng-scrollbar>
  </app-auto-hight-adjust>
</div>
