.amml-item {
  line-height: 48px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.anml-data {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
}

.amml-icon {
  line-height: 48px;
  margin-right: 15px;
}

.amml-icon-fa {
  font-size: 20px;
}

.amml-submenu {
  margin-left: 16px;
}

.active {
  color: #1976d2;
}
