<div id="top-of-page"></div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <app-navigation></app-navigation>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div id="c-mask" class="c-mask hidden-md-up"></div>
  <div class="session-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid body-content o-wrapper">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div [@slideBool]="displayState === displayStateContent">
                    <div *ngIf="sessionType === newPasswordType">
                      <app-forced-new-password [detailModel]="detailModel" (cancel)="sendToRedirectUri($event)"
                        (success)="sendToRedirectUri($event)">
                      </app-forced-new-password>
                    </div>
                  </div>
                  <div [@slideBool]="displayState === displayStateLoader">
                    <div class="section-preloader">
                      <app-spinner></app-spinner>
                    </div>
                  </div>
                  <div [@slideBool]="displayState === displayStateError ">
                    <div class="alert alert-danger m-t-40">
                      <span [translate]="'Session.Detail.Messages.Error'"></span>
                      <a (click)='sendToRedirectUri()' href="javascript:void(0);">
                        {{ 'Session.Detail.Actions.Redirect.Button'| translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
