.logo{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: url(../../../assets/viewTheme/images/logo-icon.png) no-repeat center center #fff;
}
.logo-text{
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: url(../../../assets/viewTheme/images/logo-text.png) no-repeat center center #fff;
}