.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  background: url(./../images/logo-icon.png) no-repeat center center;
}

.logo-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 32px;
  border: none;
  cursor: pointer;
  background: url(./../images/logo-text.png) no-repeat center center;
}
