﻿.navbar-brand > .icon-banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: url(./../images/icon.png) no-repeat center -2px;
    background-size: auto 90%;
}
