<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title">{{"Project.Detail.Tabs.UserClaimTypes.Title" | translate}}
        </h4>
        <div class="col m-b-20">
          <div class="button-box card-subtitle">
            <button (click)="this.displayState = this.displayStateAdd" id="refresh-list-button" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
              <fa-icon [icon]="faPlus"></fa-icon> {{"Project.Detail.Tabs.UserClaimTypes.Actions.Add.OpenButton" |
              translate}}
            </button>
            <button *ngIf="displayState === displayStateAdd || displayState === displayStateUpdate" (click)="showOthers()"
              id="refresh-list-button" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
              <fa-icon [icon]="faTimesCircle"></fa-icon> {{"Common.Close" | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row hidden-md-down">
      <div class="col-12">
        <h6 class="card-subtitle">{{"Project.Detail.Tabs.UserClaimTypes.Description" | translate}}</h6>
      </div>
    </div>
    <div class="row" [@slideBool]="displayState === displayStateAdd">
      <div class="col-12">
        <div class="row m-t-20">
          <div class="col-12">
            <form [formGroup]="formAdd" novalidate>
              <div class="form-material row">
                <div class="col-12 col-md-6">
                  <app-int-text-box formControlName="type"></app-int-text-box>
                  <app-show-errors [control]="formAdd.controls['type']"></app-show-errors>
                </div>
                <div class="col-12 col-md-6">
                  <app-int-text-box formControlName="description"></app-int-text-box>
                </div>
              </div>
              <div class="button-box col-12">
                <button (click)="add()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
                  <fa-icon [icon]="faPlus"></fa-icon> {{
                  "Project.Detail.Tabs.UserClaimTypes.Actions.Add.Button" |
                  translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" [@slideBool]="displayState === displayStateUpdate">
      <div class="col-12">
        <div class="row m-t-20">
          <div class="col-12">
            <form [formGroup]="formUpdate" novalidate>
              <div class="form-material row">
                <div class="col-12 col-md-6">
                  <app-int-text-box formControlName="newType"></app-int-text-box>
                  <app-show-errors [control]="formUpdate.controls['newType']"></app-show-errors>
                </div>
                <div class="col-12 col-md-6">
                  <app-int-text-box formControlName="description"></app-int-text-box>
                </div>
              </div>
              <div class="button-box col-12">
                <button (click)="update()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
                  <fa-icon [icon]="faBolt"></fa-icon> {{
                  "Project.Detail.Tabs.UserClaimTypes.Actions.Update.Button" |
                  translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" [@slideBool]="displayState === displayStateContent">
      <div class="col-12">
        <div class="row m-t-20">
          <div class="offset-md-6 offset-lg-8 col-md-6 col-lg-4">
            <mat-form-field class="w-100">
              <input matInput #search type="search" placeholder="{{'Common.Search' | translate}}" autocomplete="off">
            </mat-form-field>
          </div>
        </div>
        <mat-table matSort appResponsiveTable [appAllColumns]="allColumns" [appDesktopColumns]="desktopColumns"
          [appTabletColumns]="tabletColumns" [appMobileColumns]="mobileColumns" [appPaginator]="paginator" #sort="matSort"
          [appSort]="sort" [appFilter]="search.value" [appDataSource]="model?.userClaimTypesDetail" #table="responsiveTable">

          <!-- Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.type.Label" |
              translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.type}} </mat-cell>
          </ng-container>

          <!-- Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.description.Label" |
              translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.description}} </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> {{"Common.Form.actions.Label" | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
              <div class="button-box">
                <button type="button" class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-secondary" alt="default"
                  attr.data-item-id="{{item.type}}" (click)="clickEdit($event,'data-item-id')">
                  {{"Project.Detail.Tabs.UserClaimTypes.Actions.Update.OpenButton" | translate}}</button>
                <button type="button" class="btn btn-sm btn-danger waves-effect waves-light btn-rounded btn-outline-secondary"
                  alt="default" attr.data-item-id="{{item.type}}" (click)="clickDelete($event,'data-item-id')">
                  {{"Project.Detail.Tabs.UserClaimTypes.Actions.Delete.Button" | translate}}</button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="table.displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let item; columns: table.displayedColumns;" class="element-row" [cdkDetailRow]="item"
            [cdkDetailRowTpl]="detailTemplate" responsiveTable="table">
          </mat-row>

          <ng-template #detailTemplate let-item>
            <section class="detail-section" [@detailExpand]>
              <div class="detail-items">
                <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'type'">
                  {{"Common.Form.type.Label" | translate}} : {{item.type}}
                </div>
                <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'description'">
                  {{"Common.Form.description.Label" | translate}} : {{item.description}}
                </div>
                <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'actions'">
                  {{"Common.Form.actions.Label" | translate}}
                  <button type="button" class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-secondary"
                    alt="default" data-toggle="modal" attr.data-item-id="{{item.type}}" (click)="clickDelete($event,'data-item-id')">
                    {{"Project.Detail.Tabs.UserClaimTypes.Actions.Delete.Button" | translate}}</button>
                  <button type="button" class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-secondary"
                    alt="default" data-toggle="modal" attr.data-item-id="{{item.type}}" (click)="clickEdit($event,'data-item-id')">
                    {{"Project.Detail.Tabs.UserClaimTypes.Actions.Update.Button" | translate}}</button>
                </div>
              </div>
            </section>
          </ng-template>
        </mat-table>

        <!-- Pages -->
        <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

      </div>
    </div>
    <div [@slideBool]="displayState === displayStateLoader">
      <div class="section-preloader">
        <app-spinner></app-spinner>
      </div>
    </div>
    <div [@slideBool]="displayState === displayStateNoneFound">
      <div class="alert alert-warning m-t-40">
        <span [translate]="'Project.List.Messages.NoneFound'"></span>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
