﻿@model IDSign.IdP.Quickstart.Shared.WebViewModel
@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    @if (!String.IsNullOrWhiteSpace(Model.FaviconPathValue))
    {
        string iconPath = "~/clients/" + @Model.FaviconPathValue + "/favicon.png?v=" + Model.CacheBuster;
        <link rel="icon" type="image/png" href="@Url.Content(iconPath)" />
    }
    else
    {
        <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    }

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/clients/default/css/styles.css" />
    @if (!String.IsNullOrWhiteSpace(Model.CssPathValue))
    {
        string css = "~/clients/" + @Model.CssPathValue + "/css/styles.css?v=" + Model.CacheBuster;
        <link rel="stylesheet" href="@Url.Content(css)" />
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/">
                    @*@if (String.IsNullOrWhiteSpace(Model.ClientId))
                        {
                        <span class="navbar-brand">
                            <img src="~/icon.png" class="icon-banner">
                            IdentityServer4
                        </span>
                        }
                        else
                        {*@
                    <a class="navbar-brand" href="./">

                        <!-- Logo icon -->
                        <div class="logo icon-banner"></div>
                        <!-- Logo text -->
                        <div class="logo-text"></div>

                    </a>
                    @*}*@
                </a>
            </div>
            @if (!string.IsNullOrWhiteSpace(name))
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
