﻿@model IDSign.IdP.Quickstart.Shared.WebViewModel

@if (Model.Notifications?.Any() == true)
{

    @foreach (var notification in Model.Notifications.Where(n => n.Type == IDSign.IdP.Quickstart.Shared.NotificationTypes.Error))
    {
        <div class="alert alert-danger">
            <div class="danger">&#x2717; @notification.Message</div>
        </div>
    }
    @foreach (var notification in Model.Notifications.Where(n => n.Type == IDSign.IdP.Quickstart.Shared.NotificationTypes.Info))
    {
        <div class="alert alert-info">
            <div class="info">&#9432; @notification.Message</div>
        </div>
    }

    @foreach (var notification in Model.Notifications.Where(n => n.Type == IDSign.IdP.Quickstart.Shared.NotificationTypes.Success))
    {
        <div class="alert alert-success">
            <div class="success">&#10003; @notification.Message</div>
        </div>
    }
}