<div class="form-group form-material row">
  <div class="col-12">
    <label>{{ "Common.Form."+controlName+".Label" | translate }}</label>
  </div>
  <div class="col-12 float-left">
    <div *ngIf="translatePrefix; then translated else raw"></div>
    <ng-template #translated>
      <label>{{ translatePrefix + controlName | translate}}</label>
    </ng-template>
    <ng-template #raw>
      <label>{{ value }}</label>
    </ng-template>
  </div>
</div>
