.topbar {
  background: white !important;
}

.topbar .navbar-light .navbar-nav .nav-item>a.nav-link,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item>a.nav-link:focus {
}

.container-fluid{
    background-color:white;
    padding-bottom:15px;
}
