<div id="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div id="login-box" class="card">
    <div class="card-body">
      <form class="form-horizontal form-material" id="loginform" #loginform="ngForm">
        <h3 class="box-title m-t-20 m-b-20">{{"Login.Title" | translate}}</h3>
        <div *ngIf="failedLogin || idpError|| noAccess || environmentError" class="form-group text-center">
          <div class="col-xs-12 p-b-20 text-center">
            <p *ngIf="failedLogin" class="text-center">{{"Login.ErrorUserNotRecognised" | translate}}</p>
            <p *ngIf="idpError" class="text-center">{{"Login.ErrorIdp" | translate}}</p>
            <p *ngIf="noAccess" class="text-center">{{"Login.NoAccess" | translate}}</p>
            <p *ngIf="environmentError" class="text-center">
              {{"Login.EnvironmentError." + environmentErrorType | translate}}
            </p>
            <p *ngIf="error">
              {{ error | json }}
            </p>
          </div>
          <div *ngIf="!idpError && !environmentError" class="button-group">
            <div class="w-50 p-b-20 p-10 float-left">
              <button class="btn btn-rounded btn-block btn-outline-info" (click)="login()">
                <fa-icon [icon]="faArrowCircleRight"></fa-icon> {{"Login.SignIn" | translate}}
              </button>
            </div>
            <div class="w-50 p-b-20 p-10 float-left">
              <button class="btn btn-rounded btn-block btn-outline-danger" (click)="logout()">
                <fa-icon [icon]="faTimesCircle"></fa-icon> {{"Login.SignOut" | translate}}
              </button>
            </div>
          </div>
          <div *ngIf="idpError" class="button-group">
            <div class="w-100 p-b-20 p-10 float-left">
              <button class="btn btn-rounded btn-block btn-outline-info" (click)="login()">
                <fa-icon [icon]="faArrowCircleRight"></fa-icon> {{"Login.SignIn" | translate}}
              </button>
            </div>
          </div>
          <div *ngIf="environmentError" class="button-group">
            <div class="w-100 p-b-20 p-10 float-left">
              <button class="btn btn-rounded btn-block btn-outline-info" (click)="login()">
                <fa-icon [icon]="faArrowCircleRight"></fa-icon> {{"Login.SignIn" | translate}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
