<div class="section-preloader p-t-40 p-b-40 h-200">
  <div class="loader">
    <div class="loader__figure"></div>
  </div>
  <p class="page-preloader_loader__label" [class.glowing]="glowingLabel" >{{ label | translate }}</p>
</div>