.loader {
    left: 50%;
}

.section-preloader {
    min-height: 50px;
}

.page-preloader_loader__label {
    margin: 0 10%;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: #1976d2;
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: -webkit-calc(50% + 35px);
    top: -moz-calc(50% + 35px);
    top: calc(50% + 35px);
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page-preloader_loader__label.glowing {
    -webkit-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes loader-label {
    0% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}

@-moz-keyframes loader-label {
    0% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}

@keyframes loader-label {
    0% {
        opacity: 0.25;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}