﻿@model LoginViewModel

<div class="login-page">
    <div class="page-header">
        <h1>Password Reset</h1>
    </div>

    @await Html.PartialAsync("_ValidationSummary")

    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Local Login</h3>
                </div>
                <div class="panel-body">

                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="ClientId" />
                        <input type="hidden" asp-for="Password" />
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Username">@Model.Username</label>
                                <!-- needed for chrome auto save credentials -->
                                <input type="text" value="@Model.Username" class="form-control hidden" name="Username" placeholder="" autocomplete="off" style="display:none;">
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword">
                                    <strong>New Password</strong>
                                </label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="NewPassword" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">
                                    <strong>Confirm Password</strong>
                                </label>
                                <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="setPassword">Set Password</button>
                                <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>