﻿@model LoginViewModel

<div class="login-page">
    <div class="page-header">
        <h1>User Verification</h1>
    </div>

    @await Html.PartialAsync("_ValidationSummary")
    @await Html.PartialAsync("_NotificationSummary", @Model)

    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Submit the OTP sent to @Model.PhoneNumber in order to verify your identity.</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("SubmitOTP", "Account", FormMethod.Post, new { returnUrl = Model.ReturnUrl }))
                    {
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="Easid" />
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="OTPValue">
                                    <strong>OTP Value @Model.ExpectedOTP</strong>
                                </label>
                                <input type="text" class="form-control" placeholder="e.g. 123456" asp-for="OTPValue" autocomplete="off" value="">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="submitOTP" type="submit" #defaultButton>Submit OTP</button>
                                @if (Model.NextOTPRequestAllowedAt.HasValue)
                                {
                                    <label>Please wait till  <strong>@Model.NextOTPRequestAllowedAt.Value.ToString()</strong> to submit a new OTP.</label>
                                }
                                else
                                {
                                    <button class="btn btn-warning" name="button" value="requestNewOTP">Request New OTP</button>
                                }
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function keypressHandler(e) {
        if (e.which == 13) {
            e.preventDefault(); //stops default action: submitting form
            $(this).blur();
            $('#defaultButton').focus().click();//give your submit an ID
        }
    }

    $('form').keypress(keypressHandler);
</script>