#main-wrapper {
  overflow: visible;
}

main-container {
  margin-top: 60px;
  margin-left: 235px;
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
  }
  .container-fluid {
    padding: 0px 0px;
  }
  .page-wrapper {
    background-color: white;
  }
}

.page-wrapper {
  padding-bottom: 0px;
}
