<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate>
      <div class="row">
        <div class="col-12 col-md-6">
          <app-tenant-selector formControlName="tenantIdentifier" [initialiseWithCurrentlyAccessible]=true
            [readonly]=true></app-tenant-selector>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <app-password-policy-type-selector formControlName="passwordPolicyTypeIdentifier"
            [initialiseWithCurrentlyAccessible]=true [readonly]="true">
          </app-password-policy-type-selector>
          <app-show-errors [control]="form.controls['passwordPolicyTypeIdentifier']"></app-show-errors>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <app-int-text-box formControlName="passwordPolicyCode" [readonly]="true"></app-int-text-box>
          <app-show-errors [control]="form.controls['passwordPolicyCode']"></app-show-errors>
        </div>
        <div class="col-12 col-md-6">
          <app-int-text-box formControlName="defaultErrorMessage"></app-int-text-box>
          <app-show-errors [control]="form.controls['defaultErrorMessage']"></app-show-errors>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-int-text-area formControlName="description"></app-int-text-area>
          <app-show-errors [control]="form.controls['description']"></app-show-errors>
        </div>
      </div>
      <div class="row" *ngIf="showRegexSection">
        <div class="col-12 col-md-6">
          <app-regex formControlName="regex"></app-regex>
          <app-show-errors [control]="form.controls['regex']"></app-show-errors>
        </div>
      </div>
      <div class="row" *ngIf="showLengthSection">
        <div class="col-12 col-md-6">
          <app-int-text-box formControlName="length" [minimumNumber]="0" [numbersOnly]="true"></app-int-text-box>
          <app-show-errors [control]="form.controls['length']"></app-show-errors>
        </div>
      </div>
      <div class="row" *ngIf="showHistorySection">
        <div class="col-12 col-md-6">
          <app-int-text-box formControlName="historyLimit" [minimumNumber]="1" [numbersOnly]="true">
          </app-int-text-box>
          <app-show-errors [control]="form.controls['historyLimit']"></app-show-errors>
        </div>
      </div>
      <div class="button-box col-12">
        <button (click)="update()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
          <fa-icon [icon]="faBolt"></fa-icon> {{ "PasswordPolicy.Detail.Tabs.Data.Actions.Submit.Button" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
