.card-body {
    background: white;
    border-radius: 10px;
    min-height: 300px;
}

.label.label-table {
    border-radius: 12px;
}

.label.label-table {
    width: 100%;
    text-align: center;
}

.urgent {
    color: #fb3a3a;
}

.section-preloader {
    background: white;
    padding-top: 200px;
    padding-bottom: 0px;
    border-radius: 10px;
}

#dashboard .card .box {
    height: 100%;
    display: table;
    width: 100%;
    min-height: 100px;
}

#dashboard .card .box .text-white {
    color: #fff !important;
    display: table-row;
    vertical-align: middle;
    width: 100%;
}

.bg-black {
    background-color: black;
    color: white;
}


@media(max-width:1024px) {
    .label.label-table {
        width: auto;
        width: initial;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.mat-column-profileImage {
    padding: 0px 10px;
    flex: 0 0 75px;
    text-align: center;
}
