<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <h4 class="card-title">{{"User.List.Title" | translate}}
            </h4>
          </div>
        </div>
        <div class="row hidden-md-down">
          <div class="col-12">
            <h6 class="card-subtitle">{{"User.List.Description" | translate}}</h6>
          </div>
        </div>
        <div class="row" [@slideBool]="displayState === displayStateContent">
          <div class="col-12">
            <div class="row m-t-20">
              <div class="col-12">
                <div class="button-box">
                  <button (click)="refreshList()" id="refresh-list-button" type="button"
                    class="btn btn-outline-info btn-rounded btn-sm float-right">
                    <fa-icon [icon]="faSync"></fa-icon> {{"Common.Refresh" | translate}}
                  </button>
                  <button (click)="create()" id="create-list-button" type="button"
                    class="btn btn-outline-info btn-rounded btn-sm float-right">
                    <fa-icon [icon]="faPlus"></fa-icon> {{"User.List.Actions.Create.Button" | translate}}
                  </button>
                </div>
              </div>
            </div>
            <div class="row m-t-20">
              <div class="offset-md-6 offset-lg-8 col-md-6 col-lg-4">
                <mat-form-field class="w-100">
                  <input matInput #search type="search" placeholder="{{'Common.Search' | translate}}"
                    autocomplete="off">
                </mat-form-field>
              </div>
            </div>

            <mat-table matSort appResponsiveTable [appAllColumns]="allColumns" [appDesktopColumns]="desktopColumns"
              [appTabletColumns]="tabletColumns" [appMobileColumns]="mobileColumns" [appPaginator]="paginator"
              #sort="matSort" [appSort]="sort" [appFilter]="search.value" [appDataSource]="listModel"
              #table="responsiveTable" class="dossier-list" [columnValuesMapper]="columnValuesMapper">

              <!-- Column -->
              <ng-container matColumnDef="profileImage">
                <mat-header-cell *matHeaderCellDef> {{"Common.Form.profileImage.Label" |
                  translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <app-profile-picture class="profile-pic" [userIdentifier]="item.identifier" [asIcon]=true>
                  </app-profile-picture>
                </mat-cell>
              </ng-container>

              <!-- Column -->
              <ng-container matColumnDef="repositoryUsername">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.repositoryUsername.Label" |
                  translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.repositoryUsername}} </mat-cell>
              </ng-container>

              <!-- Column -->
              <ng-container matColumnDef="projectCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.projectCode.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.identifier.projectCode}} </mat-cell>
              </ng-container>


              <!-- Column -->
              <ng-container matColumnDef="tenantCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.tenantCode.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.identifier.tenantCode}} </mat-cell>
              </ng-container>


              <!-- Column -->
              <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.username.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.tenantUsername}} </mat-cell>
              </ng-container>


              <!-- Column -->
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.firstName.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.firstName}} </mat-cell>
              </ng-container>

              <!-- Column -->
              <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.lastName.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{item.lastName}} </mat-cell>
              </ng-container>

              <!-- Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.status.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <span class="label label-enabled-{{item.enabled}}">
                    {{"Common.Form.status.translate."+item.enabled | translate}}
                  </span>
                </mat-cell>
              </ng-container>


              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> {{"Common.Form.actions.Label" | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let item">
                  <app-user-detail-button [userIdentifier]="item.identifier"></app-user-detail-button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="table.displayedColumns"></mat-header-row>

              <mat-row *matRowDef="let item; columns: table.displayedColumns;" class="element-row" [cdkDetailRow]="item"
                [cdkDetailRowTpl]="detailTemplate" responsiveTable="table">
              </mat-row>

              <ng-template #detailTemplate let-item>
                <section class="detail-section" [@detailExpand]>
                  <div class="detail-items">
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table"
                      [columnName]="'repositoryUsername'">
                      {{"Common.Form.repositoryUsername.Label" | translate}} : {{item.repositoryUsername}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'projectCode'">
                      {{"Common.Form.projectCode.Label" | translate}} : {{item.identifier.projectCode}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'tenantCode'">
                      {{"Common.Form.tenantCode.Label" | translate}} : {{item.identifier.tenantCode}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'username'">
                      {{"Common.Form.username.Label" | translate}} : {{item.tenantUsername}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'firstName'">
                      {{"Common.Form.firstName.Label" | translate}} : {{item.firstName}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'lastName'">
                      {{"Common.Form.lastName.Label" | translate}} : {{item.lastName}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'status'">
                      {{"Common.Form.status.Label" | translate}}
                      <span class="label label-enabled-{{item.enabled}}">
                        {{"Common.Form.status.translate."+item.enabled | translate}}
                      </span>
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table"
                      [columnName]="'userIdentifier'">
                      {{"Common.Form.userIdentifier.Label" | translate}} : {{item.userIdentifier}}
                    </div>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'actions'">
                      {{"Common.Form.actions.Label" | translate}}
                      <app-user-detail-button [userIdentifier]="item.identifier"></app-user-detail-button>
                    </div>
                  </div>
                </section>
              </ng-template>
            </mat-table>

            <!-- Pages -->
            <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>


          </div>
        </div>
        <div [@slideBool]="displayState === displayStateLoader">
          <div class="section-preloader">
            <app-spinner></app-spinner>
          </div>
        </div>
        <div [@slideBool]="displayState === displayStateNoneFound">
          <div class="row">
            <div class="col-12">
              <div class="button-box">
                <button (click)="create()" id="create-list-button" type="button"
                  class="btn btn-outline-info btn-rounded btn-sm float-right">
                  <fa-icon [icon]="faPlus"></fa-icon> {{"User.List.Actions.Create.Button" | translate}}
                </button>
              </div>
            </div>
          </div>
          <div class="alert alert-warning m-t-40">
            <span [translate]="'User.List.Messages.NoneFound'"></span>
            <a (click)='refreshList()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
          </div>
        </div>
        <div [@slideBool]="displayState === displayStateError ">
          <div class="alert alert-danger m-t-40">
            <span [translate]="'User.List.Messages.Error'"></span>
            <a (click)='refreshList()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
