<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{"Module.List.Title" | translate}}
        </h4>
        <div class="row">
          <div class="col-12 float-left hidden-md-down">
            <h6 class="card-subtitle">{{"Module.List.Description" | translate}}</h6>
          </div>
        </div>
        <div [@slideBool]="displayState === displayStateContent">
          <div class="row">
            <div class="col-12">
              <div class="button-box">
                <button (click)="refreshList()" id="refresh-list-button" type="button" class="btn btn-info btn-rounded float-right">
                  <fa-icon [icon]="faSync"></fa-icon> {{"Common.Refresh" | translate}}
                </button>
                <button (click)="create()" id="create-list-button" type="button" class="btn btn-info btn-rounded float-right">
                  <fa-icon [icon]="faPlus"></fa-icon> {{"Module.List.Actions.Create.Button" | translate}}
                </button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="offset-md-6 offset-lg-8 col-md-6 col-lg-4">
                  <mat-form-field class="w-100">
                    <input matInput #search type="search" placeholder="{{'Common.Search' | translate}}" autocomplete="off">
                  </mat-form-field>
                </div>
              </div>

              <mat-table matSort appResponsiveTable [appAllColumns]="allColumns" [appDesktopColumns]='desktopColumns'
                [appTabletColumns]="tabletColumns" [appMobileColumns]="mobileColumns" [appPaginator]="paginator" #sort="matSort"
                [appSort]="sort" [appFilter]="search.value" [appDataSource]="listModel" #table="responsiveTable" class="dossier-list"
                [columnValuesMapper]="columnValuesMapper">

                <!-- moduleCode Column -->
                <ng-container matColumnDef="moduleCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.moduleCode.Label" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.moduleCode}}
                  </mat-cell>
                </ng-container>

                <!-- projectCode Column -->
                <ng-container matColumnDef="projectCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.projectCode.Label" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.identifier.projectCode}}
                  </mat-cell>
                </ng-container>

                <!-- description Column -->
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> {{"Common.Form.description.Label" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let item"> {{item.description}}
                  </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> {{"Common.Form.actions.Label" | translate}}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    <button type="button" class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-secondary"
                      alt="default" data-toggle="modal" attr.data-item-id="{{item.moduleCode}}"
                      attr.data-item-projectCode="{{item.identifier.projectCode}}" (click)="clickItemDetail($event,'data-item-id','data-item-projectCode')">{{"Module.List.Actions.Details.Button"
                      | translate}}</button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="table.displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let item; columns: table.displayedColumns;" class="element-row" [cdkDetailRow]="item"
                  [cdkDetailRowTpl]="detailTemplate" responsiveTable="table">
                </mat-row>

                <ng-template #detailTemplate let-item>
                  <section class="detail-row" [@detailExpand]>
                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'description'">
                      {{"Common.Form.description.Label" | translate}} : {{item.description}}
                    </div>

                    <div class="detail-row-item" appResponsiveRow responsiveTable="table" [columnName]="'actions'">
                      {{"Common.Form.actions.Label" | translate}}
                      <button type="button" class="btn btn-sm waves-effect waves-light btn-rounded btn-outline-secondary"
                        alt="default" data-toggle="modal" attr.data-item-id="{{item.moduleCode}}"
                        attr.data-item-projectCode="{{item.identifier.projectCode}}" (click)="clickItemDetail($event,'data-item-id','data-item-projectCode')">{{"Module.List.Actions.Details.Button"
                        | translate}}</button>
                    </div>
                  </section>
                </ng-template>
              </mat-table>

              <!-- Pages -->
              <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

            </div>
          </div>
        </div>
      </div>
      <div [@slideBool]="displayState === displayStateLoader">
        <div class="section-preloader">
          <app-spinner></app-spinner>
        </div>
      </div>
      <div [@slideBool]="displayState === displayStateNoneFound">
        <div class="row">
          <div class="col-12">
            <div class="button-box">
              <button (click)="create()" id="create-list-button" type="button" class="btn btn-outline-info btn-rounded btn-sm float-right">
                <fa-icon [icon]="faPlus"></fa-icon> {{"Module.List.Actions.Create.Button" | translate}}
              </button>
            </div>
          </div>
        </div>
        <div class="alert alert-warning m-t-40">
          <span [translate]="'Module.List.Messages.NoneFound'"></span>
          <a (click)='refreshList()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
        </div>
      </div>
      <div [@slideBool]="displayState === displayStateError ">
        <div class="alert alert-danger m-t-40">
          <span [translate]="'Module.List.Messages.Error'"></span>
          <a (click)='refreshList()' [translate]="'Common.Refresh'" href="javascript:void(0);"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
