<div class="row">
  <div class="col-12">
    <h4 class="card-title">{{"Session.ForceNewPassword.Title" | translate}}
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h6 class="card-subtitle">{{"Session.ForceNewPassword.Description" | translate}}</h6>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form [formGroup]="formPassword" novalidate>
      <div class="row">
        <div class="col-12 col-lg-6">
          <int-password formControlName="password" [passwordPolicies]="passwordPolicies"></int-password>
          <app-show-errors [control]="formPassword.controls['password']"></app-show-errors>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6" *ngIf="passwordPoliciesResult">
          <div class="row">
            <div class="col-12">
              <label>{{ "Session.ForceNewPassword.Actions.UpdatePassword.ValidationErrors" | translate }}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <app-password-policy-validation-result [passwordPolicies]="passwordPoliciesResult">
              </app-password-policy-validation-result>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="button-box col-12">
          <button (click)="updatePassword()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
            <fa-icon [icon]="faBolt"></fa-icon>
            {{ "Session.ForceNewPassword.Actions.UpdatePassword.Button" | translate }}
          </button> <button (click)="cancelUpdate()"
            class="btn btn-secondary btn-outline btn-rounded float-right m-t-20" type="submit">
            <fa-icon [icon]="faBolt"></fa-icon>
            {{ "Session.ForceNewPassword.Actions.Cancel.Button" | translate }}
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
