<div class="card">
  <div class="card-body">
    <div class="row">
      <h4 class="card-title col-10 col-md-12">{{"User.Create.Title" | translate}}</h4>
      <a class="col-2 hidden-md-up text-center nav-link" id="remote-repository-user-close" href="javascript:void(0);"
        (click)="close()">
        <i class="ti-close"></i>
      </a>
    </div>
    <div class="row">
      <div class="col-11 col-md-6 float-xs-left">
        <h6 class="card-subtitle">{{"User.Create.Description" | translate}}</h6>
      </div>
      <div class="col-12 col-md-6 float-right m-b-20 hidden-sm-down">
        <div class="button-box card-subtitle">
          <button (click)="close()" id="close-list-button" type="button"
            class="btn btn-outline-secondary btn-rounded btn-sm float-right">
            <fa-icon [icon]="faTimesCircle"></fa-icon> {{"User.Create.Actions.Close.Button" | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="m-t-40">
      <form [formGroup]="form" novalidate>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-tenant-selector formControlName="tenantIdentifier" [initialiseWithCurrentlyAccessible]=true>
            </app-tenant-selector>
            <app-show-errors [control]="form.controls['tenantIdentifier']"></app-show-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="username"></app-int-text-box>
            <app-show-errors [control]="form.controls['username']"></app-show-errors>
          </div>
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="firstName"></app-int-text-box>
            <app-show-errors [control]="form.controls['firstName']"></app-show-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="lastName"></app-int-text-box>
            <app-show-errors [control]="form.controls['lastName']"></app-show-errors>
          </div>
          <div class="col-12 col-md-6">
            <app-int-text-box formControlName="emailAddress"></app-int-text-box>
            <app-show-errors [control]="form.controls['emailAddress']"></app-show-errors>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-profile-picture-control formControlName="profileImage" [auto]="false" [readAsBase64]="true">
            </app-profile-picture-control>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <int-password formControlName="password"></int-password>
            <app-show-errors [control]="form.controls['password']"></app-show-errors>
          </div>
          <div class="col-12 col-md-6">
            <app-int-checkbox formControlName="setPasswordOnFirstLogin"></app-int-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-int-multi-checkbox formControlName="userGroups" [options]="options"></app-int-multi-checkbox>
          </div>
        </div>
        <div class="button-box col-12">
          <button (click)="add()" class="btn btn-info btn-rounded float-right m-t-20" type="submit">
            <fa-icon [icon]="faPlus"></fa-icon> {{ "User.Create.Actions.Submit.Button" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
