<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="pagepreloader" class="page-preloader">
  <app-spinner [label]="message"></app-spinner>
</div>
