<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div id="sectionpreloader" class="page-preloader">
  <app-spinner [label]="message" [glowingLabel]=true></app-spinner>
</div>
