<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar hidden-md-up">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <nav id="c-menu--push-left" #sidebarnav class="visible-xs visible-sm visible-md hidden-lg">
      <div class="sidebar-nav">
        <div id="sidebarnav">
          <a href="javascript:void(0);" class="c-menu__close">
            <span class="hide-menu menu-text">X</span>
          </a>
          <ng-material-multilevel-menu [configuration]='config' [items]='menuData.items'></ng-material-multilevel-menu>
        </div>
      </div>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- End Sidebar navigation -->
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
