@import url("./../plugins/footable/css/footable.core.css");
@import url("./footable-page.css");
@import url("./file-upload.css");
@import url("./scroll.css");
@import url("./angular-material.css");
@import url("./material.css");
@import '~angular-tree-component/dist/angular-tree-component.css';

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: 'Lato', sans-serif;
}

@media (min-width: 1024px) {
  .page-wrapper {
    margin-left: 235px;
  }
}

.menu-icon {
  content: '';
  display: inline-block;
  height: 32px;
  width: 32px;
  padding-right: 8px;
  background-repeat: no-repeat;
}

.menu-icon.new-notarization-icon {
  background-image: url('./../../assets/images/icon/notarization-list.png');
  background-position-y: 2px;
}

.menu-icon.results-icon {
  background-image: url('./../../assets/images/icon/results.png');
}

.menu-icon.history-icon {
  background-image: url('./../../assets/images/icon/history.png');
}

/* Side bar css */

/* Prebuilt start */

/*******************
 sidebar navigation
 ******************/

.scroll-sidebar {
  height: calc(100% - 70px);
}

.scroll-sidebar.ps .ps__scrollbar-y-rail {
  left: 2px;
  right: auto;
  background: none;
  width: 6px;
  /* If using `left`, there shouldn't be a `right`. */
}

.collapse.in {
  display: block;
}

.sidebar-nav {
  background: #fff;
  padding: 15px 0 0 0px;
}

.sidebar-nav>div,
.sidebar-nav ul {
  margin: 0px;
  padding: 0px;
}

.sidebar-nav .sidenav-listitem i {
  width: 31px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #555f6d;
}

.sidebar-nav .sidenav-listitem.active,
.sidebar-nav .sidenav-listitem.active i,
.sidebar-nav .sidenav-listitem.active span {
  color: #398bf7;
  font-weight: 500;
}

.sidebar-nav .sidenav-listitem:hover,
.sidebar-nav .sidenav-listitem:hover i,
.sidebar-nav .sidenav-listitem:hover span {
  color: orange;
}

.sidebar-nav .sidenav-listitem .label {
  float: right;
  margin-top: 6px;
}

.sidebar-nav .sidenav-listitem.active {
  font-weight: 400;
  background: white;
}

.sidebar-nav .sidenav-listitem {
  margin-bottom: 5px;
}

.sidebar-nav .sidenav-listitem i {
  color: #555f6d;
}

.sidebar-nav .waves-effect {
  transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.sidebar-nav .has-arrow {
  position: relative;
}

.sidebar-nav .has-arrow::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #687384;
  right: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  -ms-transform: rotate(135deg) translate(0, -50%);
  -o-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  top: 47%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* Prebuilt end */

.left-sidebar {
  z-index: 300;
}

@media (min-width: 768px) {
  .mini-sidebar .left-sidebar {
    width: 76px;
  }
}

.sidebar-nav {
  height: 979px;
}

.sidebar-nav a.active {
  font-weight: 500;
  color: white
}

.sidebar-nav a,
.sidebar-nav .sidenav-listitem {
  display: table;
  padding: 8px 8px 8px 16px;
}

.sidebar-nav a span.menu-text,
.sidebar-nav .sidenav-listitem span.menu-text {
  padding-left: 8px;
}

.sidebar-nav a,
.sidebar-nav .sidenav-listitem {
  width: 100%;
}

.sidebar-nav .active a,
.sidebar-nav .sidenav-listitem.active {
  color: #4a90e2;
}

.sidebar-nav a:hover,
.sidebar-nav .sidenav-listitem:hover {
  color: orange;
}

.sidebar-nav .list-container {
  background-color: white;
}

.sidebar-nav .list-container .ng-scrollbar-container .ng-scrollbar-view {
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .mini-sidebar .top-navbar .navbar-header {
    width: 76px;
  }

  .mini-sidebar .sidebar-nav a,
  .mini-sidebar .sidebar-nav .sidenav-listitem,
  .mini-sidebar .sidebar-nav .list-container {
    width: 70px;
  }

  .mini-sidebar .sidebar-nav .list-container .list-container,
  .mini-sidebar .sidebar-nav .list-container mat-icon,
  .mini-sidebar .sidebar-nav .list-container .ng-scrollbar {
    opacity: 0;
    pointer-events: none;
  }

  .mini-sidebar .sidebar-nav a:hover,
  .mini-sidebar .sidebar-nav .sidenav-listitem:hover,
  .mini-sidebar .sidebar-nav .list-container:hover>mat-icon {
    color: orange;
  }

  .mini-sidebar .sidebar-nav a:hover,
  .mini-sidebar .sidebar-nav .sidenav-listitem:hover,
  .mini-sidebar .sidebar-nav .list-container:hover,
  .mini-sidebar .sidebar-nav .list-container:hover .list-container {
    max-width: 290px;
    min-width: 200px;
    width: auto;
  }

  .mini-sidebar .sidebar-nav a:hover,
  .mini-sidebar .sidebar-nav .sidenav-listitem:hover,
  .mini-sidebar .sidebar-nav .list-container:hover,
  .mini-sidebar .sidebar-nav .list-container:hover .list-container,
  .mini-sidebar .sidebar-nav .list-container:hover mat-icon,
  .mini-sidebar .sidebar-nav .list-container:hover .ng-scrollbar {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.5s ease-in-out;
  }

  .mini-sidebar .sidebar-nav .list-container.top-list:hover {
    outline: 1px solid #ededed;
  }
}

/*  End */

.box {
  border-radius: 17px;
  border: 1px solid #e3e3e4;
  background-color: #ffffff;
  opacity: 0.84;
}

.card {
  background: none;
}

.label-status-Confirmed {
  background-color: #4a90e2;
}

.label-status-Pending {
  background-color: orange;
}

button.no-format {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.no-transitions {
  transition: none;
}

ss-multiselect-dropdown div.dropdown {
  width: 100%;
}

ss-multiselect-dropdown div.dropdown button.dropdown-toggle {
  width: 100%;
  text-align: left;
}

ss-multiselect-dropdown div.dropdown .dropdown-menu {
  width: 100%;
  text-align: left;
}

ss-multiselect-dropdown div.dropdown .dropdown-menu span {
  text-align: left;
  margin-right: 5px;
}

ss-multiselect-dropdown .dropdown-item.active {
  background: none !important;
  color: auto;
  color: initial;
}

ss-multiselect-dropdown .fa.fa-search {
  padding: 10px 7px;
}

.chat-list-container .message-item .reverse {
  text-align: right;
}

.chat-list-container .message-item .reverse .chat-time {
  text-align: left;
}

.chat-list-container .message-item .reverse .chat-content {
  padding-left: 0px;
  padding-right: 15px;
}

#angular-oauth-oidc-check-session-iframe {
  height: 0px;
  display: none;
}

.chat-main-box .chat-right-aside .chat-list-container {
  padding-top: 0px;
}

/*******************/

/*Chat widget*/

/*******************/

.chat-list-container {
  margin: 0px;
  padding: 0px;
}

.chat-main-box .chat-left-aside .chat-left-inner .style-none .message-item {
  list-style: none;
  overflow: hidden;
}

.chat-main-box .chat-left-aside .chat-left-inner .style-none .message-item a {
  padding: 20px;
}

.chat-main-box .chat-left-aside .chat-left-inner .style-none .message-item a:hover,
.chat-main-box .chat-left-aside .chat-left-inner .style-none .message-item a.active {
  background: #ebf3f5;
}

.chat-list-container .message-item {
  list-style: none;
  margin-top: 30px;
}

.chat-list-container .message-item .chat-img {
  display: inline-block;
  width: 45px;
  vertical-align: top;
}

.chat-list-container .message-item .chat-img img {
  width: 45px;
  border-radius: 100%;
}

.chat-list-container .message-item .chat-content {
  width: -webkit-calc(100% - 140px);
  width: -moz-calc(100% - 140px);
  width: calc(100% - 140px);
  display: inline-block;
  padding-left: 15px;
}

.chat-list-container .message-item .chat-content h5 {
  color: #99abb4;
}

.chat-list-container .message-item .chat-content .box {
  display: inline-block;
  margin-bottom: 10px;
  color: #263238;
}

.chat-list-container .message-item .chat-time {
  display: inline-block;
  text-align: right;
  width: 80px;
  font-size: 13px;
  color: #99abb4;
}

.chat-list-container li.odd .chat-content {
  text-align: right;
  width: -webkit-calc(100% - 90px);
  width: -moz-calc(100% - 90px);
  width: calc(100% - 90px);
}

.chat-list-container li.odd .box {
  clear: both;
}

.chat-list-container li.odd+.odd {
  margin-top: 0px;
}

.chat-list-container li.reverse {
  text-align: right;
}

.chat-list-container li.reverse .chat-time {
  text-align: left;
}

.chat-list-container li.reverse .chat-content {
  padding-left: 0px;
  padding-right: 15px;
}

/*
End chat list 
*/

/*
Always show scrollbar
*/

@media (min-width: 768px) {
  .mini-sidebar.fix-sidebar .left-sidebar {
    position: fixed;
    z-index: 250;
  }
}

html {
  background: #f4f6f9;
}

.jspTrack {
  background: #ddd;
  position: relative;
}

.jspDrag {
  background: #bbb;
  border-radius: 10px;
}

.jspVerticalBar {
  border-radius: 10px;
  width: 10px;
}

/* IE moving fixed position fix */

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  background: #f4f6f9;
}

/* This is needed to remove bounce effect from iOS*/

body,
html {
  position: fixed;
}

#site-wrapper {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* bounce effect from iOS */

@media (max-width: 767px) {
  .chat-main-box .chat-left-aside {
    left: -270px;
  }

  .chat-main-box .chat-left-aside.open-pnl {
    left: 0px;
  }

  body {
    background: white;
  }

  /* To hide to make space for chat */
  .chat-list-container.focused {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    z-index: 400;
  }
}

#main-wrapper {
  overflow: hidden;
}

.mailbox .message-center {
  overflow: initial;
}

.mailbox .message-center a .mail-contnet .mail-desc,
.mailbox .message-center a .mail-contnet .time {
  white-space: initial;
}

.btn-circle {
  padding-top: 8px;
}

.text-wrap {
  white-space: normal !important;
}

.label.label-enabled-False,
.label.label-enabled-false {
  background-color: #bd2130;
}

.label.label-enabled-True,
.label.label-enabled-true {
  background-color: #06d79c;
}

.detail-tab-wrapper {
  margin-left: -20px;
  margin-right: -20px;
}



#detail-header-top {
  position: fixed;
  background: white;
  z-index: 100;
  /* padding: 20px 0px; */
  top: 95px;
  padding: 17px 0px;
}

#detail-header-top .button-box {}

.card-top {
  background-color: #f4f6f9;
  height: 25px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 70px;
}

@media screen and (max-width: 992px) {
  .card-top {
    display: none;
  }
}

.topbar ul.dropdown-user li .dw-user-box .u-text {
  width: 120px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text p {

  word-break: break-word;
}

@media (max-width: 767px) {

  .topbar ul.dropdown-user li .dw-user-box .u-text {
    width: 100%;
  }
}
