.ui-fileupload-buttonbar {
    padding: auto;
    border-bottom: auto;
    padding: initial;
    border-bottom: initial;
}

.ui-widget,
.ui-widget * {
    box-sizing: auto;
    box-sizing: initial;
}

.ui-widget-header {
    background: auto;
    background: initial;
}

.ui-corner-top {
    border-top-left-radius: auto;
    border-top-right-radius: auto;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
}

.ui-widget-header {
    text-align: center;
    border: auto;
    background-color: auto;
    color: auto;
    font-weight: auto;
    border: initial;
    background-color: initial;
    color: initial;
    font-weight: initial;
}

.ui-fileupload-content {
    text-align: center;
}
.ui-fileupload-content .spinner{
    height: 20px;
    display: block;
}
.ui-fileupload-content .btn {
    margin-left: 10px;
}
.ui-fileupload-content .ui-fileupload-files{
    text-align: center;
    display: inline-block;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.ui-fileupload-row {
    text-align: center;
    display: inline-block;
}

.inputfile+label {
    cursor: pointer;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

@media (max-width: 767px) {
    .ui-widget-content {
        border: none;
    }
}

.ui-fileupload-buttonbar .ui-button {
    display: none;
}