/* Tabs */

mat-tab-group mat-tab-header .mat-tab-label-content span.link,
mat-tab-group mat-tab-header .mat-tab-label-content span.link span {
    border: 1px solid transparent;
    color: #495057;
    font-family: "Montserrat", sans-serif;
    transition: color 0.5s ease-in-out;
}

mat-tab-group mat-tab-header .mat-tab-label-content span.link span {
    padding-left: 7px;
}

mat-tab-group mat-tab-header .mat-tab-label-content:focus,
mat-tab-group mat-tab-header .mat-tab-label-content:hover,
mat-tab-group mat-tab-header .mat-tab-label-content span.link span:hover {
    color: #398bf7;
    transition: color 0.5s ease-in-out;
}

mat-tab-group mat-tab-header .mat-tab-label.mat-tab-label-active .mat-tab-label-content span {
    color: #398bf7;
    transition: color 0.5s ease-in-out;
}

mat-tab-group mat-tab-header .mat-tab-label-content span.link:hover {
    color: #398bf7;
    transition: color 0.5s ease-in-out;
}

mat-tab-group mat-tab-body.mat-tab-body {
    z-index: -1;
}

mat-tab-group mat-tab-body.mat-tab-body.mat-tab-body-active {
    z-index: initial;
}

/* Responsive Table */

mat-table .mat-row:nth-child(even) {}

mat-table .mat-row:nth-child(odd) {
    background-color: #f7f7f7
}

mat-table mat-cell {
    overflow-wrap: break-word;
    word-break: break-word;
}

mat-table mat-cell,
mat-table mat-cell .btn {
    text-align: center;
}

mat-table mat-cell,
mat-table mat-cell .btn,
mat-table section {
    font-size: 13px;
}

mat-table .element-row {
    position: relative;
}

mat-table .element-row:not(.expanded) {
    cursor: pointer;
}

mat-table .element-row:not(.expanded):hover {
    background: #e1e1e1;
}

mat-table .element-row.expanded {
    border-bottom-color: transparent;
    background: #e1e1e1;
}

mat-table .detail-row {
    background-color: #e5e5e5;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
}

mat-table .detail-section {
    background-color: #e5e5e5;
}

mat-table .detail-section .detail-items {
    margin-bottom: 0.5rem;
    padding: 1.5rem;
}

mat-table .mat-header-cell,
mat-table .mat-cell {
    justify-content: center;
}

mat-table .mat-column-daysOpen {
    margin: 0px 10px;
    flex: 0 0 70px;
}

mat-table .mat-column-dossierDate,
mat-table .mat-column-lastUpdatedDate {
    flex: 0 0 110px;
}

mat-table .mat-column-status {
    margin: 0px 10px;
}

mat-table .mat-column-actions {
    flex: 0 0 100px;
}

mat-table .mat-header-row,
mat-table .mat-row {
    padding: 0 10px;
}

mat-table .detail-row .detail-row-item {
    padding-top: 0.5rem;
}

mat-table mat-cell,
mat-table mat-cell .btn,
mat-table section {
    font-size: 10px;
}

/* Detail pages using material */
/* Dossier Detail */

#detail-header-top .mobile-buttons {
    right: 20px;
    line-height: 48px;
}

#detail-header-top .mobile-buttons button {
    margin-left: 5px;
}


body.mini-sidebar mat-tab-group.detail-tab-group>mat-tab-header,
mat-tab-group.detail-tab-group>mat-tab-header {
    left: 10px;
    width: calc(100% - 150px);
}

body.mini-sidebar mat-tab-group.detail-tab-group>mat-tab-header,
mat-tab-group.detail-tab-group>mat-tab-header,
#detail-header-top .mobile-buttons {
    background-color: white;
    position: fixed;
    top: 90px;
    z-index: 100;
}

mat-tab-group.detail-tab-group>.mat-tab-body-wrapper {
    position: relative;
    top: 75px;
    bottom: 0px;
    width: 100%;
    background: white;
}

mat-tab-group.detail-tab-group>mat-tab-header .mat-tab-label {
    width: 50px;
    min-width: 50px;
}

mat-tab-group.detail-tab-group>mat-tab-header .mat-tab-label .detail-tab-label {
    display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    body.mini-sidebar mat-tab-group.detail-tab-group>mat-tab-header,
    mat-tab-group.detail-tab-group>mat-tab-header {
        left: 90px;
        width: calc(100% - 230px);
    }

    body.mini-sidebar mat-tab-group.detail-tab-group>mat-tab-header,
    mat-tab-group.detail-tab-group>mat-tab-header,
    #detail-header-top .mobile-buttons {
        top: 90px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    mat-tab-group.detail-tab-group>mat-tab-header {
        width: -webkit-calc(100% - 265px);
        width: -moz-calc(100% - 265px);
        left: 195px;
        width: calc(100% - 265px);
        margin-left: 20px;
        margin-right: 20px;
    }


    body.mini-sidebar mat-tab-group.detail-tab-group>mat-tab-header,
    mat-tab-group.detail-tab-group>mat-tab-header,
    #detail-header-top .mobile-buttons {
        top: 145px;
    }

    body.mini-sidebar mat-tab-group.detail-tab-group>mat-tab-header {
        width: calc(100% -200px);
        left: 90px;
    }

    mat-tab-group.detail-tab-group>.mat-tab-body-wrapper {
        top: 90px;
    }

    mat-tab-group.detail-tab-group>mat-tab-header .mat-tab-label {
        width: 160px;
        min-width: 160px;
    }

    mat-tab-group.detail-tab-group>mat-tab-header .mat-tab-label .detail-tab-label {
        display: initial;
    }
}
