
.global-custom-scrollbar-bar .ng-scrollbar-thumb {
    background-color: rgba(200,200,200,1) !important;
}

@supports (-webkit-overflow-scrolling: touch) {
    .global-custom-scrollbar-bar .ng-scrollbar-thumb {
        display: none !important;
    }
}
.element::-webkit-scrollbar {
    -webkit-appearance: none;
}

.global-custom-scrollbar-view{
    overflow-x: hidden !important;
}