body {
    font-size: 0.75rem;
    line-height: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

.topbar .top-navbar {
    min-height: 45px;
}

.topbar .top-navbar .navbar-header {
    line-height: 52px;
    padding-left: 10px;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    padding-left: 10px;
    padding-right: 12px;
    font-size: 13px;
}

.sidebar-nav a,
.sidebar-nav .sidenav-listitem {
    padding: 9px 8px 9px 12px;
}

.sidebar-nav .sidenav-listitem i {
    width: 19px;
    font-size: 18px;
}

.container-fluid {
    padding: 12px;
}

h1 {
    line-height: 35px;
    font-size: 26px;
}

h2 {
    line-height: 30px;
    font-size: 17px;
}

h3 {
    line-height: 20px;
    font-size: 15px;
}

h4 {
    line-height: 14px;
    font-size: 13px;
}

h5 {
    font-size: 12px;
}

h6 {
    line-height: 18px;
    font-size: 11px;
}

.cd-horizontal-timeline .events-content p {
    font-size: 12px;
}

.btn-rounded.btn-sm {
    font-size: 8.5px;
}

.btn-rounded.btn-sm {
    padding: 0.25rem 0.4rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 0.75rem;
}

.table td,
.table th {
    padding: 0.65rem;
}

.left-sidebar {
    width: 195px;
    padding-top: 62px;
}

@media (min-width: 768px) {
    .navbar-header {
        width: 180px;
    }

    .mini-sidebar .top-navbar .navbar-header {
        width: 58px;
    }

    .mini-sidebar .left-sidebar {
        width: 58px;
    }

    .mini-sidebar .sidebar-nav a,
    .mini-sidebar .sidebar-nav .sidenav-listitem,
    .mini-sidebar .sidebar-nav .list-container {
        width: 58px;
    }
}

@media (min-width: 1024px) {
    .page-wrapper {
        margin-left: 185px;
    }
}

.fix-header .page-wrapper {
    padding-top: 60px;
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
    font-size: 12px;
}

.logo-text {
    width: 112px;
    height: 40px;
    margin-left: 14px;
}

.logo {
    height: 22px;
    margin-left: -14px;
}

.topbar .profile-pic {
    width: 22px;
    border-radius: 100%;
}

.cd-horizontal-timeline .events a {
    font-size: 0.75rem;
    font-family: "Open Sans", sans-serif;
}

.timeline {
    padding: 0px 0 10px;
}

.cd-horizontal-timeline .events-content {
    margin: 1em 0;
}

.btn-group-sm>.btn,
.btn-sm {
    line-height: 1.2;
}

.button-box .btn {
    margin: 4px 4px 4px 2px;
}

.button-box {
    margin-right: -10px;
}

.btn-rounded {
    padding: 3px 12px;
}

.btn {
    font-size: 0.8rem;
    padding: 5px 12px;
}

dl,
ol,
ul {
    margin-top: 0px;
}

.has-danger .col-form-label,
.has-danger .custom-control,
.has-danger .form-check-label,
.has-danger .form-control-feedback,
.has-danger .form-control-label {
    margin-top: 3px;
}

.sidebar-nav {
    padding: 0px 0 0 0px;
}

.card {
    margin-bottom: 20px;
}

/* .card-body {
    padding: 1rem 1.25rem 1rem 1rem;
  } */

/* .dossier-list-container > .card-body {
    padding: 1.25rem 0.75rem 1rem 1rem;
  } */

.label {
    padding: 2px 8px;
    line-height: 9px;
}

.chat-list-container .message-item .chat-img img {
    width: 32px;
    border-radius: 100%;
}

.btn-circle.btn-lg {
    width: 38px;
    height: 38px;
    padding: 9px 9px;
    font-size: 14px;
    line-height: 20px;
}

/*Created and applied for Dashboard*/
.shift-left {
    padding-left: 10px;
}

.shift-right {
    padding-right: 10px;
}

/*Created and applied for Dashboard*/

.notify .point {
    width: 5px;
    height: 5px;
    right: 6px;
    top: -8px;
}

.nav-link {
    padding: 0.5rem 0.7rem;
}

.chat-list-container .message-item .chat-time {
    font-size: 10px;
}

.chat-list-container .message-item .chat-img {
    width: 38px;
}

.dropdown-menu {
    min-width: 8rem;
    font-size: 0.75rem;
}

.mailbox .message-center a .mail-contnet .mail-desc,
.mailbox .message-center a .mail-contnet .time {
    font-size: 10px;
}

.topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 50px;
}

.topbar .top-navbar .mailbox {
    width: 225px;
}

.topbar ul.dropdown-user {
    min-width: 200px;
}

.topbar ul.dropdown-user li .dw-user-box {
    padding: 6px 15px;
}

.topbar ul.dropdown-user li .dw-user-box .u-img {
    width: 50px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
    font-size: 12px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text p {
    font-size: 10px;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    line-height: 38px;
}

.notify {
    top: -20px;
}

.btn-group-sm>.btn,
.btn-sm {
    line-height: 1.2;
}

.card-subtitle {
    margin-top: -.6rem;
}

/* Start >> Dossier Page Specific : under div with class 'dossier-container' */
.dossier-container .table td,
.table th {
    padding: 0.55rem;
}

.dossier-container h4 {
    line-height: 15px;
    font-size: 13.5px;
}

.dossier-container h6 {
    line-height: 15px;
    font-size: 10.5px;
}

.dossier-container .m-t-40 {
    margin-top: 33px;
}

.dossier-container .box {
    border-radius: 12px;
}

.dossier-container #dashboard h1 {
    line-height: 26px;
    font-size: 26px;
}

.dossier-container #dashboard h1 {
    line-height: 26px;
    font-size: 26px;
}

.dossier-container .table td,
.table th {
    vertical-align: middle;
}

.dossier-container .footable .pagination li a {
    padding: 0.3rem 0.55rem;
    line-height: 1.15;
}

.dossier-container .button-box .btn {
    margin: 0px 8px 0px 0px;
}

/* End >> Dossier Page Specific : under div with class 'dossier-container' */

.dossier-create-container .m-b-20 {
    margin-bottom: unset;
}

.dossier-create-container .button-box .btn {
    margin: 8px 0px 4px 2px;
}

#dossier-overview-content small {
    line-height: 1rem;
}

.custom-material-theme .mat-list .mat-list-item .mat-list-item-content,
.custom-material-theme .mat-list .mat-list-option .mat-list-item-content,
.custom-material-theme .mat-nav-list .mat-list-item .mat-list-item-content,
.custom-material-theme .mat-nav-list .mat-list-option .mat-list-item-content,
.custom-material-theme .mat-selection-list .mat-list-item .mat-list-item-content,
.custom-material-theme .mat-selection-list .mat-list-option .mat-list-item-content {
    padding: 0px 0px 0px 0px !important;
}

.sidebar-nav a span.menu-text,
.sidebar-nav .sidenav-listitem span.menu-text {
    padding-left: 10px;
}

/* Start > Material Css */

mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
    padding-left: 15px !important;
}

mat-table .mat-column-status {
    margin: 0px 0px !important;
}

mat-table .mat-column-dossierDate,
mat-table .mat-column-lastUpdatedDate {
    flex: 0 0 100px !important;
}

mat-table .mat-column-daysOpen {
    margin: 0px 6px !important;
    flex: 0 0 45px !important;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
    font-size: 10px !important;
}

.mat-paginator-container {
    padding: 0 0px !important;
}

.mat-sort-header-button {
    font-size: 10px !important;
}

.mat-cell,
.mat-footer-cell {
    font-size: 10px !important;
}

.mat-header-cell {
    font-size: 10px !important;
}

mat-footer-row,
mat-row {
    min-height: 40px !important;
}

.mat-paginator-page-size {
    margin-right: 0px !important;
}

.mat-paginator-page-size-label {
    margin: 0 0px !important;
}

.mat-paginator-page-size-select {
    margin: 6px 0px 0 4px !important;
    width: 40px !important;
}

.mat-icon-button {
    width: 35px !important;
}

.mat-paginator-icon {
    width: 22px !important;
}

.mat-paginator-range-label {
    margin: 0 22px 0 24px !important;
}

.mat-tab-label,
.mat-tab-link {
    font-size: 10px !important;
}

mat-tab-group mat-tab-header .mat-tab-label-content span.link span {
    padding-left: 5px !important;
}

.mat-tab-label {
    height: 36px !important;
}

/* End > Material Css */

.toggle-children {
    height: 6px;
    width: 6px;
}

#dossier-checklist-main-container .mat-tab-label {
    min-width: 120px !important;
}

.chat-list-container .message-item .reverse .chat-content {
    padding-right: unset;
}

.chat-list-container .message-item {
    margin-top: 25px;
}

/* .chat-list-container .row {
    margin-right: unset;
  } */

.chat-list-container h5 {
    line-height: 14px;
}

.chat-list-container .box {
    border-radius: 13px;
    padding: 8px;
}

.reporting-container .card-title {
    margin-bottom: 0.05rem;
}

@media (max-width: 767px) {
    .checklist-main-box .checklist-left-aside {
        left: -270px;
    }

    .chat-main-box .chat-left-aside {
        left: -217px;
    }
}

.card-top {
    top: 50px;
}

#detail-header-top {
    top: 75px;
}
