/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

@import './../variable';
/*******************
 Sales overview Chart
*******************/
#sales-overview2{
    .ct-point{
        stroke-width:6px;
        stroke:$info; 
    }
    .ct-grid{
        stroke-dasharray:0px;
        stroke:$border;
        
    }
    .ct-area{
        fill-opacity:0;
    }
    .ct-line{
        stroke-width:3px;
        stroke:$info;
    }
}

.stats-bar {
    .active {
        background-color: rgba(0,0,0,.1);
    }
}

.website-visitor {
    .ct-series-a .ct-area {
        fill-opacity: 0.2;
        fill: url(#gradient); 
        }
        .ct-series-a .ct-line, .ct-series-a .ct-point {
        stroke: $success;
        stroke-width: 2px; 
        }
        .ct-series-b .ct-area {
            fill: $info;
            fill-opacity: 0.1; 
        }
        .ct-series-b .ct-line, .ct-series-b .ct-point {
            stroke: $info;
            stroke-width: 2px; 
        }
        .ct-series-a .ct-point, .ct-series-b .ct-point {
         stroke-width: 6px; 
        }
   } 
  
  .c3-chart-arcs-title{
    font-size:26px; 
    font-weight:600;
    color:$bodytext;
    font-family:$bodyfont;
  }
/*******************
 Project of the month
*******************/
.pro-of-month{
    h6{
        font-weight:500;
        margin-bottom:0px;
    }
}
/*******************
 This is for responsive dashboard1 element
*******************/
@media(max-width:1023px) {
.r-aside{
        padding-right:30px;
    }
    .right-side-panel{
        display:none;
    }
}    