/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
@import './../variable'; 

/*******************
Form icheck
******************/

.icolors,
.icheck-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.icolors>li {
    padding: 0;
    margin: 2px;
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: $dark;
    text-align: center;
}

.icolors>li.active:after {
    content: "\2713 ";
    color: $white;
    line-height: 30px;
}

.icolors>li:first-child {
    margin-left: 0;
}

.icolors>li.orange {
    background: $danger;
}

.icolors>li.yellow {
    background: $warning;
}

.icolors>li.info {
    background: $info;
}

.icolors>li.green {
    background: $success;
}

.icolors>li.red {
    background: $red;
}

.icolors>li.purple {
    background: $purple;
}

.icolors>li.blue {
    background: $blue;
}

.icheck-list {
    float: left;
    padding-right: 50px;
    padding-top: 10px;
}

.icheck-list li {
    padding-bottom: 5px;
}

.icheck-list li label {
    padding-left: 10px;
}