/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

@import './../variable';


/*******************
FAQs Page
******************/

.minimal-faq {
    .card {
        border: 0px;
        .card-header {
            background: $white;
            padding: 20px 0;
            margin-top: 10px;
        }
        .card-body {
            padding: 15px 0px;
        }
    }
}




/*******************
Seach listing Page
******************/

.search-listing {
    padding: 0px;
    margin: 0px;
    li {
        list-style: none;
        padding: 15px 0;
        border-bottom: 1px solid $border;
        h3 {
            margin: 0px;
            font-size: 18px;
            a {
                color: $info;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        a {
            color: $success;
        }
    }
}


/*******************
Gridstack Dragable portlet
******************/

.grid-stack-item-content {
    background: #fff;
    color: #2b2b2b;

    text-align: center;
    font-size: 20px;
}

.grid-stack>.grid-stack-item>.grid-stack-item-content {
    border: 1px solid $border;
}



/*******************
Grid page
******************/

.show-grid {
    margin-bottom: 10px;
    padding: 0 15px
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $form-brd;
    background-color: $light;
}


/*******************
Date paginator page
******************/

.dp-selected[style] {
    background-color: $themecolor!important;
}

.datepaginator-sm,
.datepaginator-lg,
.datepaginator {

    .pagination {
        li {
            a {
                padding: 0 5px;
                height: 60px;
                border: 1px solid $border;
                float: left;
                position: relative;
            }
        }
    }
}



/*******************
Notification page Jquery toaster
******************/

.jq-icon-info {
    background-color: $info;
    color: $white;
}

.jq-icon-success {
    background-color: $success;
    color: $white;
}

.jq-icon-error {
    background-color: $danger;
    color: $white;
}

.jq-icon-warning {
    background-color: $warning;
    color: $white;
}

.alert-rounded {
    border-radius: 60px;
}


/*******************
list and media
******************/

.list-group a.list-group-item:hover {
    background: $light;
}

.list-group-item.active,
.list-group .list-group-item.active:hover {
    background: $themecolor;
    border-color: $themecolor;
}

.list-group-item.disabled {
    color: $muted;
    background: $light;
}

.media {
    border: 1px solid $border;
    margin-bottom: 10px;
    padding: 15px;
}


/*******************
/*Documentation page
******************/

.plugin-details {
    display: none;
}

.plugin-details-active {
    display: block;
}