/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

@import './../variable';




/*******************
Vertical tabs
******************/

.vtabs {
    display: table;
    .tabs-vertical {
        width: 150px;
        border-bottom: 0px;
        border-right: 1px solid $border;
        display: table-cell;
        vertical-align: top;
        li .nav-link {
            color: $dark;
            margin-bottom: 10px;
            border: 0px;
            border-radius: $radius 0 0 $radius;
        }
    }
    .tab-content {
        display: table-cell;
        padding: 20px;
        vertical-align: top;
    }
}

.tabs-vertical li .nav-link.active,
.tabs-vertical li .nav-link:hover,
.tabs-vertical li .nav-link.active:focus {
    background: $themecolor;
    border: 0px;
    color: $white;
}




/*Custom vertical tab*/

.customvtab .tabs-vertical li .nav-link.active,
.customvtab .tabs-vertical li .nav-link:hover,
.customvtab .tabs-vertical li .nav-link:focus {
    background: $white;
    border: 0px;
    border-right: 2px solid $themecolor;
    margin-right: -1px;
    color: $themecolor;
}

.tabcontent-border {
    border: 1px solid #ddd;
    border-top: 0px;
}

.customtab2 {
    li {
        a.nav-link {
            border: 0px;
            margin-right: 3px;
            color: $bodytext;
            &.active {
                background: $themecolor;
                color: $white;
            }
            &:hover {
                color: $white;
                background: $themecolor;
            }
        }
    }
}