<form [formGroup]="form" novalidate>
  <div class="form-group form-material row">
    <div class="col-12">
      <label>{{ "Common.Form." + formControlName + ".Label" | translate }}</label>
    </div>
    <div class="col-12" formArrayName="value" *ngFor="let option of options; let i = index">
      <mat-checkbox value="{{option.index}}" [formControlName]="i" (change)="checkBoxChanged($event)">
        {{ localizationString + option.name | translate}}
      </mat-checkbox>
    </div>
  </div>
</form>
