<div class="row" *ngFor="let ppm of passwordPoliciesDisplay" [ngClass]="{notMatch:!ppm.passed,match:ppm.passed}">
  <div class="col-10">
    <label *ngIf="ppm.isRegex">{{ "PasswordPolicy.ErrorCode.Regex." + ppm.code | translate }}</label>
    <label
      *ngIf="ppm.isMinimumLength">{{ "PasswordPolicy.ErrorCode.Default.MinimumLength" | translate : ppm.params}}</label>
    <label
      *ngIf="ppm.isMaximumLength">{{ "PasswordPolicy.ErrorCode.Default.MaximumLength" | translate : ppm.params}}</label>
    <label *ngIf="ppm.isHistory">{{ "PasswordPolicy.ErrorCode.Default.HistoryLimit" | translate : ppm.params}}</label>
  </div>
  <div class="col-2">
    <fa-icon [icon]="faTimesCircle" *ngIf="!ppm.passed"></fa-icon>
    <fa-icon [icon]="faCheck" *ngIf="ppm.passed"></fa-icon>
  </div>
</div>
